{literal}
<html>
<head>
<title>百团大战</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="template/news/style.css" rel="stylesheet" type="text/css" />
<LINK 
href="talkabout/include/style1.css" type=text/css 
rel=stylesheet><LINK href="talkabout/include/end_page_new.css" 
type=text/css rel=stylesheet><LINK 
href="talkabout/include/comment.css" type=text/css 
rel=stylesheet>
<style type="text/css">
<!--
.STYLE9 {color: #000000}
-->
</style>
</head>
{/literal}
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (1.psd) -->
<table width="821" height="883" border="0" align="center" cellpadding="0" cellspacing="0" id="__01">
	<tr>
		<td colspan="9">
			<img src="template/subject/images/subject_01.jpg" width="820" height="60" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="60" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="template/subject/images/subject_02.jpg" width="818" height="220" alt=""></td>
		<td rowspan="6">
			<img src="template/subject/images/subject_03.jpg" width="2" height="634" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="220" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="template/subject/images/subject_04.jpg" width="818" height="13" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="redir.php?catalog_id=70929"><img src="template/subject/images/subject_05.jpg" alt="" width="385" height="59" border="0"></a></td>
		<td>
			<img src="template/subject/images/subject_06.jpg" width="18" height="59" alt=""></td>
		<td colspan="4">
			<a href="redir.php?catalog_id=70930"><img src="template/subject/images/subject_07.jpg" alt="" width="415" height="59" border="0"></a></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="59" alt=""></td>
	</tr>
	<tr>
		<td height="175" colspan="4" valign="top">{article_list catalog_id=70929 count=8 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}</td>
		<td height="175" colspan="4" valign="top">{article_list catalog_id=70930 count=8 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}</td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="157" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="redir.php?catalog_id=70931"><img src="template/subject/images/subject_10.jpg" alt="" width="385" height="61" border="0"></a></td>
		<td>
			<img src="template/subject/images/subject_11.jpg" width="18" height="61" alt=""></td>
		<td colspan="4">
			<a href="redir.php?catalog_id=70932"><img src="template/subject/images/subject_12.jpg" alt="" width="415" height="61" border="0"></a></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="61" alt=""></td>
	</tr>
	<tr>
		<td height="124" colspan="4" valign="top">{article_list catalog_id=70931 count=5 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}</td>
		<td height="124" colspan="4" valign="top">{article_list catalog_id=70932 count=5 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}</td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="124" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="template/subject/images/subject_15.jpg" width="6" height="188" alt=""></td>
		<td colspan="5" rowspan="2">
			<img src="template/subject/images/subject_16.jpg" width="779" height="5" alt=""></td>
		<td colspan="3">
			<img src="template/subject/images/subject_17.jpg" width="35" height="2" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="2" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="template/subject/images/subject_18.jpg" width="11" height="186" alt=""></td>
		<td colspan="2" rowspan="3">
			<img src="template/subject/images/subject_19.jpg" width="24" height="186" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="3" alt=""></td>
	</tr>
	<tr>
		<td valign="top" background="template/subject/images/subject_20.jpg">{article_list catalog_id=70933 count=8 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}		</td>
		<td colspan="3">
			<img src="template/subject/images/subject_21.jpg" alt="" width="35" height="175" border="0" usemap="#Map"></td>
		<td valign="top" background="template/subject/images/subject_22.jpg">{article_list catalog_id=70934 count=8 template=subject/article_list_simple3.htm width=200 height=150 tcut=24}</td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="175" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="template/subject/images/subject_23.jpg" width="779" height="8" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="template/subject/images/spacer.gif" width="6" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="376" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="3" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="368" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="22" height="1" alt=""></td>
		<td>
			<img src="template/subject/images/spacer.gif" width="2" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
<table>
<tr>
<td>
</td>
</tr>
</table>



<map name="Map"><area shape="rect" coords="1,4,34,71" href="redir.php?catalog_id=70933">
<area shape="rect" coords="2,106,32,171" href="redir.php?catalog_id=70934">
</map>

</body>
</html>


{literal}



<DIV class=endArea><!-- left -->
<DIV class=col1>
  <!-- 当前位置 --><!-- 文章主体内容 -->
<DIV class=blankWhiteBox>
  <SCRIPT>
var thepostid = '3OAGG1300001121M';
var theboard = 'news_guoji2_bbs';
var postid = '';
var board = 'news_guoji2_bbs';
var out_nickname;
var out_ip;
var out_board = 'news_guoji2_bbs';
var out_postid;
var out_ptime;
var out_body;
var diggcount='196';
var trackCount='25';
</SCRIPT>
<SCRIPT language=JavaScript type=text/javascript>
var submited = false;
function reply_checksubmit()
{
	if(document.formpost.body.value==tip || document.formpost.body.value.length==0)
	{
		alert('请填写内容');
		return false;
	}
	if(document.formpost.username.value.length==0)
	{
		alert('请填写昵称');
		return false;
	}	
	if(submited){
		alert('回复已经提交，请稍后;)');
		return false;
	}
	submited=true;
	return true;
}
</SCRIPT>
<SCRIPT language=javascript 
src="talkabout/include/replyjs.js"></SCRIPT>
<DIV class=endDeliver0709>
<DIV class=title>
<DIV class=tip><IMG 
height=34 alt=讨论区 src="talkabout/include/end_p1.gif" width=85 
border=0></DIV>
<DIV class=textBu><A id=look1 
href="talkabout/showtips.php" 
target=_blank>点击查看</A></DIV>
<DIV class=text><A id=look2 
href="talkabout/showtips.php" 
target=_blank>已有对此专题感兴趣的网友发表了看法</A> </DIV></DIV>
<DIV class=loginTip>
<FORM name=formpost  onSubmit="return reply_checksubmit()" action="talkabout/talkabout.php" method=post target=_self>
<DIV class=textBox><TEXTAREA onfocus=reply_clearfield() name=body>我来评两句！</TEXTAREA> 
</DIV>
<DIV class=send><INPUT class=input onMouseOver="this.className='inputOver'" onMouseOut="this.className='input'" type=submit value=马上发表 name=frmsubmit> 
<INPUT type=hidden name=board> <INPUT type=hidden name=threadid> <INPUT 
type=hidden name=url> </DIV>
<DIV class=login>
  昵称： 
  <INPUT class=input1 name=username id=username>
  <INPUT type=hidden value=1 name=type> <INPUT 
type=hidden value=content name=product> <INPUT type=hidden name=url> 
</FORM></DIV>
<DIV class=clear></DIV></DIV></DIV>


{/literal}






