<table class="list">
	{ foreach from=$articles item=article }
    <tr>
        <td class="list_catalog_name">[<a href="redir.php?catalog_id={$article.catalog}" target="_blank">{ $article.catalog_name }</a>]
</td>
        <td class="list_article_name{ if $article.highlight } highlight{ /if }"><a href="{ if $article.link }{ $article.link }{ else }redir.php?catalog_id={ $article.catalog }&amp;object_id={ $article.id }{ /if }" target="_blank">{ $article.heading}</a></td>
    </tr>
    {/foreach}
</table>