<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="浙江大学求是潮教育网-党建园地" />
<meta name="keywords" content="浙江大学，浙大，求是潮，教育，教育网 党建" />
<title>浙江大学求是潮教育网——党建园地</title>
<link href="template/edu/css/public.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="template/edu/css/party_portal.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="template/edu/css/party_banner.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="template/edu/css/footer.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
</head>

<body>
{ include file=edu/party_banner.html }
<div class="container">
    <div class="main">
        <div class="left">
            <div class="subject">
                <div class="subject_title"><img src="template/edu/images/party_subject_title.gif" width="125" height="44" alt="专题回顾" /></div>
                <div class="subject_content">
                	{ article_list catalog_id=0 count=2 tcut=25 scut=303 template=edu/subject_list.html }
                </div>
            </div><!--end subject-->
            <div class="history">
                <div class="history_title"><img src="template/edu/images/party_history_title.gif" width="126" height="44" alt="百年求是" /></div>
                <div class="history_content">
                    <div class="history_pic"><img src="template/edu/images/history_pic.jpg" width="168" height="128" alt="百年求是" /></div>
                    <div class="history_list">
                    	{ article_list catalog_id=139869 count=7 tcut=27 template=edu/article_list_ul.html }
                    	<div class="history_more"><a href="redir.php?catalog_id=139869" target="_blank"><img src="template/edu/images/find_more_party.gif" width="55" height="29" alt="查看更多" /></a></div>
                    </div>
                </div>
            </div><!--end history-->
        </div><!--end left-->
        <div class="right">
            <div class="party_sub_catalog" id="party_mien">
                <div class="title"><img src="template/edu/images/party_mien_title.jpg" width="763" height="32" alt="支部风采" /></div>
                <div class="content">
                    <div class="content_left">
                        <div class="content_picture_title"><img src="template/edu/images/party_mien_branch.gif" width="105" height="17" alt="支部大本营" /></div>
                        <div class="content_picture_list">{ article_list catalog_id=145464 count=1 picture_only=1 tcut=25 ttcut=33 tcount=8 template=edu/article_list_picture.html }</div>
                    </div>
                    <div class="vertical_dashed"></div>
                    <div class="content_right">
                        <div class="content_picture_title"><img src="template/edu/images/party_mien_pioneer.gif" width="87" height="17" alt="党员先锋" /></div>
                        <div class="content_picture_list">{ article_list catalog_id=145465 count=1 picture_only=1 tcut=25 ttcut=33 tcount=8 template=edu/article_list_picture.html }</div>
                    </div>
                </div>
            </div><!--end party_mien-->
            <div class="party_sub_catalog" id="party_enter">
                <div class="title"><img src="template/edu/images/party_enter_title.jpg" width="763" height="32" alt="入党导航" /></div>
                <div class="content">
                    <div class="content_left">
                        <div class="content_picture_title"><img src="template/edu/images/party_enter_fundamental.gif" width="87" height="17" alt="基础知识" /></div>
                        <div class="content_picture_list">{ article_list catalog_id=145467 count=1 picture_only=1 tcut=25 ttcut=33 tcount=8 template=edu/article_list_picture.html }</div>
                    </div>
                    <div class="vertical_dashed"></div>
                    <div class="content_right">
                        <div class="content_right_top">
                            <div class="content_text_title"><img src="template/edu/images/party_enter_procedure.gif" width="87" height="17" alt="入党程序" /></div>
                            <div class="content_text_more"><a href="redir.php?catalog_id=145468" target="_blank">more..</a></div>
                            <div class="content_text_list">
                            	<div class="first_col">{ article_list catalog_id=145468 count=4 tcut=27 template=edu/article_list_ul.html }</div>
                                <div class="second_col">{ article_list catalog_id=145468 count=4 page=1 tcut=27 template=edu/article_list_ul.html }</div>
                            </div>
                        </div>
                        <div class="horizontal_dashed"></div>
                        <div class="content_right_bottom">
                            <div class="content_text_title"><img src="template/edu/images/party_enter_document.gif" width="87" height="17" alt="入党文书" /></div>
                            <div class="content_text_more"><a href="redir.php?catalog_id=145469" target="_blank">more..</a></div>
                            <div class="content_text_list">
                            	<div class="first_col">{ article_list catalog_id=145469 count=4 tcut=27 template=edu/article_list_ul.html }</div>
                                <div class="second_col">{ article_list catalog_id=145469 count=4 page=1 tcut=27 template=edu/article_list_ul.html }</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end party_enter-->
            <div class="party_sub_catalog" id="party_theory">
                <div class="title"><img src="template/edu/images/party_theory_title.jpg" width="763" height="32" alt="理论经纬" /></div>
                <div class="content">
                    <div class="content_left">
                        <div class="content_picture_title"><img src="template/edu/images/party_theory_reader.gif" width="87" height="17" alt="经典读物" /></div>
                        <div class="content_picture_list">{ article_list catalog_id=145470 count=1 picture_only=1 tcut=25 ttcut=33 tcount=8 template=edu/article_list_picture.html }</div>
                    </div>
                    <div class="vertical_dashed"></div>
                    <div class="content_right">
                        <div class="content_right_top">
                            <div class="content_text_title"><img src="template/edu/images/party_theory_advance.gif" width="87" height="17" alt="党建先声" /></div>
                            <div class="content_text_more"><a href="redir.php?catalog_id=145471" target="_blank">more..</a></div>
                            <div class="content_text_list">
                            	<div class="first_col">{ article_list catalog_id=145471 count=4 tcut=27 template=edu/article_list_ul.html }</div>
                                <div class="second_col">{ article_list catalog_id=145471 count=4 page=1 tcut=27 template=edu/article_list_ul.html }</div>
                            </div>
                        </div>
                        <div class="horizontal_dashed"></div>
                        <div class="content_right_bottom">
                            <div class="content_text_title"><img src="template/edu/images/party_theory_event.gif" width="87" height="17" alt="党大事记" /></div>
                            <div class="content_text_more"><a href="redir.php?catalog_id=145472" target="_blank">more..</a></div>
                            <div class="content_text_list">
                            	<div class="first_col">{ article_list catalog_id=145472 count=4 tcut=27 template=edu/article_list_ul.html }</div>
                                <div class="second_col">{ article_list catalog_id=145472 count=4 page=1 tcut=27 template=edu/article_list_ul.html }</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end party_theory-->
        </div><!--end right-->
    </div><!--end main-->
</div><!--end container-->
{ include file=edu/footer.html }
</body>
</html>
