<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="浙江大学求是潮教育网" />
<meta name="keywords" content="浙江大学，浙大，求是潮，教育，教育网" />
<title>浙江大学求是潮教育网</title>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
{ literal }
<link href="template/edu/css/public.css" rel="stylesheet" type="text/css" media="all" />
<link href="template/edu/css/edu_portal.css" rel="stylesheet" type="text/css" media="all" />
<link href="template/edu/css/footer.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />

<script language="javascript" type="text/javascript" src="template/edu/library/jquery-1.2.6.js"></script>
<script language="javascript" type="text/javascript" src="template/edu/library/ui/jquery.ui.all.js"></script>
<script language="javascript" type="text/javascript">
<!--
$(function(){
	$("#party_header > ul").tabs( { event: 'mouseover'} );
	$("#future_header > ul").tabs( { event: 'mouseover'} );
});

function share_search()
{
	if(document.all.share_form.s.value != ""){
		document.all.share_form.submit();
	}
}
//-->
</script>
{ /literal }
</head>

<body>
<div class="banner">
	<div class="main_nav">
    	<ul>
        	<li><img src="template/edu/images/nav_left_bg.gif" width="87" height="29" alt="" /></li>
            <li class="nav_left_circle"></li>
            <li class="nav_text"><a href="redir.php?catalog_id=144818" target="_blank">党建园地</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="#" target="_blank">思政导航</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="redir.php?catalog_id=139848" target="_blank">未来规划</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="redir.php?catalog_id=139869" target="_blank">百年求是</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://www.qsc.zju.edu.cn/apps/exam/" target="_blank">党校考试</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://www.qsc.zju.edu.cn/apps/lesson/login.php" target="_blank">党校选课</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://zjkc.zju.edu.cn" target="_blank">精品课程</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://www.qsc.zju.edu.cn/apps/exchange/" target="_blank">对外交流</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://10.76.8.11/" target="_blank">心理咨询</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://www.qg.qsc.zju.edu.cn/" target="_blank">勤工俭学</a></li>
            <li class="nav_split"></li>
            <li class="nav_text"><a href="http://www.zz.qsc.zju.edu.cn/" target="_blank">学生资助</a></li>
            <li class="nav_right_circle"></li>
            <li><img src="template/edu/images/nav_right_bg.gif" width="92" height="29" alt="" /></li>
		</ul>
	</div><!--end main_nav-->
	<div class="banner_img"><img src="template/edu/images/banner.jpg" width="1000" height="84" alt="求是潮_教育网" /></div>
</div><!--end banner-->
<div class="container">
    <div class="main" id="main_top">
        <div class="left" id="left_top">
            <div class="party_login">
                <div class="party_login_title">
                    <div class="party_login_title_img"><img src="template/edu/images/index_party_login_title.gif" width="122" height="39" border="0" alt="网上党校" /></div>
                    <div class="party_login_title_text"><a href="http://www.qsc.zju.edu.cn/apps/exam/" target="_blank">[点击进入<span>党校考试</span>]</a></div>
                </div>
                <div class="party_login_form">
                    <form name="login" id="login" method="post" action="http://www.qsc.zju.edu.cn/apps/lesson/login.php" target="_blank">
                    <table cellspacing="5" cellpadding="0" border="0">
                        <tr>
                            <td>用户名</td>
                            <td><input type="text" name="username" id="username" class="party_login_text_input" /></td>
                        </tr>
                        <tr>
                            <td>密&nbsp;&nbsp;码</td>
                            <td><input type="password" name="password" id="password" class="party_login_text_input" /></td>
                        </tr>
                        <tr>
                            <td>登录类型：</td>
                            <td>
                                <input type="radio" name="user_type" value="teacher" />教师
                                <input type="radio" name="user_type" value="student" checked="checked" />学生
                                <input type="hidden" name="postflag" value="1" />
                                <input type="submit" name="submit" value="登录" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">学生用户的初始密码为123456,请及时更改登陆密码</td>
                        </tr>
                    </table>
                    </form>
				</div><!--end party_login_form-->
			</div><!--end party_login-->
            <div class="thinknav">
            	<div class="thinknav_title"><img src="template/edu/images/index_thinknav_title_text.gif" width="125" height="41" alt="思政导航" /></div>
                <div class="thinknav_link">
                	<!--新增链接时，每一个thinknav_link_row中可以放两个链接，直接放入图片即可-->
                	<div class="thinknav_link_row">
                    	<a href="http://www.ccps.gov.cn" target="_blank"><img src="template/edu/images/index_thinknav_ccps.gif" width="138" height="53" alt="中共中央党校" /></a>
                        <a href="http://www.people.com.cn" target="_blank"><img src="template/edu/images/index_thinknav_people.gif" width="138" height="53" alt="人民网" /></a>
                    </div>
                    <div class="thinknav_link_row">
                    	<a href="http://www.moe.edu.cn" target="_blank"><img src="template/edu/images/index_thinknav_moe.gif" width="138" height="53" alt="教育部" /></a>
                        <a href="http://www.xinhuanet.com" target="_blank"><img src="template/edu/images/index_thinknav_xinhuanet.gif" width="138" height="53" alt="新华网" /></a>
                    </div>
                    <div class="thinknav_link_row">
                    	<a href="http://www.unlvs.cn" target="_blank"><img src="template/edu/images/index_thinknav_unlvs.gif" width="138" height="53" alt="中国大学生在线" /></a>
                        <a href="http://www.eol.cn" target="_blank"><img src="template/edu/images/index_thinknav_eol.gif" width="138" height="53" alt="中国教育在线" /></a>
                    </div>
                </div><!--end thinknav_link-->
			</div><!--end thinknav-->
		</div><!--end left_top-->
		<div class="right" id="right_top">
        	<div class="party">
            	<div class="party_header" id="party_header">
                	<ul>
                    	<li><a href="#party_mien"><span>支部风采</span></a></li>
                        <li><a href="#party_enter"><span>入党导航</span></a></li>
                        <li><a href="#party_theory"><span>理论经纬</span></a></li>
                    </ul>
                    <div class="party_border_vertical"></div>
                    <div class="party_title"><img src="template/edu/images/index_party_right.gif" width="120" height="24" alt="党建园地" /></div>
                </div><!--end party_header-->
              <div class="party_content" id="party_mien">
                	<div class="party_content_left">
                    	<div class="party_img"><img src="template/edu/images/party_mien_pic.jpg" width="208" height="249" alt="支部风采" /></div>
                        <div class="party_text">“党员先锋”，汇集先锋队中的先锋们，他们用自己的行动诠释着共产党员的含义。<br />“支部大本营”，丰富的活动，多样的生活，感受党员之家的温馨与和谐。
</div>
                    </div>
                    <div class="party_content_right">
                    	<div class="party_preview">{ article_list catalog_id=145464,145465 count=1 tcut=29 scut=303 template=edu/article_preview.html }</div>
                        <div class="party_list">
                        	{ article_list catalog_id=145464 with_catalog=1 count=8 tcut=22 template=edu/article_list_with_catalog.html }
                            { article_list catalog_id=145465 with_catalog=1 count=6 tcut=22 template=edu/article_list_with_catalog.html }
                        </div>
                    </div>
              </div><!--end party_mien-->
                <div class="party_content" id="party_enter">
                	<div class="party_content_left">
                    	<div class="party_img"><img src="template/edu/images/party_mien.jpg" width="208" height="249" alt="支部风采" /></div>
                        <div class="party_text">细说入党要求、讲解入党流程、展示入党文书。入党导航栏目，帮你扫清关于入党的疑惑。</div>
                    </div>
                    <div class="party_content_right">
                    	<div class="party_preview">{ article_list catalog_id=145467,145468,145469 count=1 tcut=29 scut=303 template=edu/article_preview.html }</div>
                        <div class="party_list">
                        	{ article_list catalog_id=145467 with_catalog=1 count=4 tcut=43 template=edu/article_list_with_catalog.html }
                            { article_list catalog_id=145468 with_catalog=1 count=4 tcut=43 template=edu/article_list_with_catalog.html }
                            { article_list catalog_id=145469 with_catalog=1 count=4 tcut=43 template=edu/article_list_with_catalog.html }
                        </div>
                    </div>
                </div><!--end party_enter-->
                <div class="party_content" id="party_theory">
                	<div class="party_content_left">
                    	<div class="party_img"><img src="template/edu/images/party_mien.jpg" width="208" height="249" alt="支部风采" /></div>
                        <div class="party_text">经典红色读物，精品党建学术文章，详尽共产党大事记。理论联系实际，相信在这里你一定会收获很多。</div>
                    </div>
                    <div class="party_content_right">
                    	<div class="party_preview">{ article_list catalog_id=145470,145471,145472 count=1 tcut=29 scut=303 template=edu/article_preview.html }</div>
                        <div class="party_list">
                        	{ article_list catalog_id=145470 with_catalog=1 count=6 tcut=43 template=edu/article_list_with_catalog.html }
                            { article_list catalog_id=145471 with_catalog=1 count=3 tcut=43 template=edu/article_list_with_catalog.html }
                            { article_list catalog_id=145472 with_catalog=1 count=3 tcut=43 template=edu/article_list_with_catalog.html }
                        </div>
                    </div>
                </div><!--end party_theory-->
			</div><!--end party-->
		</div><!--end right_top-->
	</div><!--end main_top-->
    <div class="main" id="main_bottom">
    	<div class="left" id="left_bottom">
        	<div class="17da"><a href="redir.php?catalog_id=76615" target="_blank"><img src="template/edu/images/index_17da.jpg" width="307" height="136" alt="十七大专题" /></a></div>
            <div class="gpa">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="309" height="291" title="绩点计算器">
                    <param name="movie" value="template/edu/flash/gpacalc.swf" />
                    <param name="quality" value="high" />
                    <embed src="template/edu/flash/gpacalc.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="309" height="291"></embed>
                </object>
            </div>
        </div><!--end left_bottom-->
        <div class="right" id="right_bottom">
        	<div class="share">
            	<div class="share_logo"><a href="http://www.qsc.zju.edu.cn/share" target="_blank"><img src="template/edu/images/index_share_logo.gif" width="86" height="48" alt="点我进入学习资源共享" /></a></div>
                <div class="share_form">
                    <form id="share_form" name="share_form" method="get" action="http://www.qsc.zju.edu.cn/share/index.php/../Function/get.php" target="_blank">
                        <table>
                            <tr>
                                <td>
                                    <select name="a">
                                        <option value="0" selected="selected">按课程搜索</option>
                                        <option value="1">按教师搜索</option>
                                    </select>
                                </td>
                                <td><input name="s" type="text" id="s" /></td>
                                <td><a href="javascript:;"><img src="template/edu/images/index_share_search.gif" width="55" height="22" alt="搜索" onclick="share_search();" /></a></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="share_link">
                	<ul>
						<li><a href="http://www.qsc.zju.edu.cn/share/index.php/Index/hot_list.shtml" target="_blank">热门资源</a></li>
						<li>|</li>
						<li><a href="http://www.qsc.zju.edu.cn/share/index.php/Index/new_list.shtml" target="_blank">最新添加</a></li>
						<li>|</li>
						<li><a href="http://www.qsc.zju.edu.cn/share/index.php/Index/s_list.shtml" target="_blank">资源列表</a></li>
					</ul>
                </div>
            </div><!--end share-->
            <div class="history">
            	<div class="history_title"><img src="template/edu/images/index_history_title.gif" width="124" height="51" alt="百年求是" /></div>
                <div class="history_content">
                	<div class="history_pic"><img src="template/edu/images/history_pic.jpg" width="168" height="128" alt="百年求是" /></div>
                    <div class="history_list">
                    	{ article_list catalog_id=139869 count=7 tcut=27 template=edu/article_list_ul.html }
                    	<div class="history_more"><a href="redir.php?catalog_id=139869" target="_blank"><img src="template/edu/images/find_more.gif" width="55" height="29" alt="查看更多" /></a></div>
                    </div>
                </div>
            </div><!--end history-->
            <div class="future">
            	<div class="future_header" id="future_header">
                	<ul>
                       <li><a href="#future_card"><span>考证</span></a></li>
                       <li><a href="#future_abroad"><span>出国</span></a></li>
                       <li><a href="#future_employment"><span>就业</span></a></li>
                       <li><a href="#future_study"><span>考研</span></a></li>
                    </ul>
                    <div class="future_border_vertical"></div>
                    <div class="future_title"><img src="template/edu/images/index_future_right.gif" width="121" height="38" alt="未来规划" /></div>
                </div>
                <div class="future_content" id="future_card">
                	<div class="content_title">CET4/6&nbsp;|&nbsp;翻译&nbsp;|&nbsp;司法,公务员&nbsp;|&nbsp;计算机&nbsp;|&nbsp;CPA</div>
                    <div class="future_pic"><img src="template/edu/images/future_card.jpg" width="101" height="101" alt="考证" /></div>
                    <div class="future_preview">{ article_list catalog_id=139853,139854,139855,139856 count=1 tcut=31 scut=203 template=edu/article_preview.html }</div>
                    <div class="future_list">
                    	{ article_list catalog_id=139853 with_catalog=1 count=2 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139854 with_catalog=1 count=2 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139855 with_catalog=1 count=2 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139856 with_catalog=1 count=2 tcut=49 template=edu/article_list_with_catalog.html }
                    </div>
                </div><!--end future_card-->
                <div class="future_content" id="future_abroad">
                	<div class="content_title">留学工具箱&nbsp;|&nbsp;海外慢镜头&nbsp;|&nbsp;出国必修课</div>
                    <div>
                    	<div class="future_pic"><img src="template/edu/images/future_card.jpg" width="101" height="101" alt="考证" /></div>
                        <div class="future_preview">{article_list catalog_id=139859,139860,139861 count=1 tcut=31 scut=203 template=edu/article_preview.html}</div>
                    </div>
                    <div class="future_list">
                    	{ article_list catalog_id=139859 with_catalog=1 count=3 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139860 with_catalog=1 count=3 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139861 with_catalog=1 count=2 tcut=49 template=edu/article_list_with_catalog.html }
                    </div>
                </div><!--end future_abroad-->
                <div class="future_content" id="future_employment">
                	<div class="content_title">职场扫描&nbsp;|&nbsp;涉世之初</div>
                    <div>
                    	<div class="future_pic"><img src="template/edu/images/future_card.jpg" width="101" height="101" alt="考证" /></div>
                        <div class="future_preview">{ article_list catalog_id=139857,139858 count=1 tcut=31 scut=203 template=edu/article_preview.html }</div>
                    </div>
                    <div class="future_list">
                    	{ article_list catalog_id=139857 with_catalog=1 count=4 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139858 with_catalog=1 count=4 tcut=49 template=edu/article_list_with_catalog.html }
                    </div>
                </div><!--end future_employment-->
                <div class="future_content" id="future_study">
                	<div class="content_title">考研秘笈&nbsp;|&nbsp;资讯速递</div>
                    <div>
                    	<div class="future_pic"><img src="template/edu/images/future_card.jpg" width="101" height="101" alt="考证" /></div>
                        <div class="future_preview">{ article_list catalog_id=139862,139863 count=1 tcut=31 scut=203 template=edu/article_preview.html }</div>
                    </div>
                    <div class="future_list">
                    	{ article_list catalog_id=139862 with_catalog=1 count=4 tcut=49 template=edu/article_list_with_catalog.html }
                        { article_list catalog_id=139863 with_catalog=1 count=4 tcut=49 template=edu/article_list_with_catalog.html }
                    </div>
                </div><!--end future_study-->
            </div><!--end future-->
        </div><!--end right_bottom-->
	</div><!--end main_bottom-->
</div><!--end container-->
{ include file=edu/footer.html }
</body>
</html>
