body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td ,input,img 
	 {margin: 0;padding: 0; border:0;}

body { 
	font-family:Tahoma, Verdana,'ו',sans-serif,simsun;
	font-size:12px;
	background-color:#FFFFFF;
	text-align:center;
}
div{
	overflow:hidden;
}
.main {
	margin:0 auto;
	width:1000px;
}

h1 {font-size:24px;}
h2 {font-size:20px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}