

<table width="100%" border="0" cellspacing="0" cellpadding="2">
  {foreach from=$articles item=article}
  <tr>
      <td rowspan="2">&nbsp;</td>
    <td  class="highlight"><a href="redir.php?catalog_id={$article.catalog}&object_id={$article.id}" target="_blank">{$article.heading}</a></td>
  </tr>
  <tr>
    <td  class="highlight"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#e2e2e2"><img src="template/edu/images/spacer.gif" width="1" height="1"></td>
      </tr>
    </table></td>
  </tr>
  {/foreach}
</table>
