<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
{ literal }
<title>休闲网</title>
<style>



* {
	font-size: 12px;
}
.nav {
	display:block;
	color:#333333;
font-weight: bolder;
	line-height: 18px;
}
.nav:hover {
	display:block;
	color:#ffffff;
	background:#FD7840;
	line-height: 18px;font-weight: bolder;
}

body {
	margin-top: 0px;
	background-color: #FFFFFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
<script language="JavaScript">
<!--
function mmLoadMenus() {
  if (window.mm_menu_1007201933_0) return;
      window.mm_menu_1007201933_0 = new Menu("root",76,18,"",12,"#000000","#DD8500","#FFE1B5","#FFE1B5","left","middle",3,0,1000,-5,7,true,false,true,0,true,true);
  mm_menu_1007201933_0.addMenuItem("Flash小游戏","location='redir.php?catalog_id=118'");
  mm_menu_1007201933_0.addMenuItem("壁虎漫步","location='redir.php?catalog_id=119'");
   mm_menu_1007201933_0.hideOnMouseOut=true;
   mm_menu_1007201933_0.bgColor='#555555';
   mm_menu_1007201933_0.menuBorder=1;
   mm_menu_1007201933_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1007201933_0.menuBorderBgColor='#777777';
window.mm_menu_1007194801_0 = new Menu("root",76,18,"",12,"#000000","#EF7607","#FFE3B9","#FFE3B9","left","middle",3,0,1000,-5,7,true,false,true,0,true,true);
  mm_menu_1007194801_0.addMenuItem("最新优惠","location='redir.php?catalog_id=32962'");
  mm_menu_1007194801_0.addMenuItem("折扣信息","location='redir.php?catalog_id=32963'");
  mm_menu_1007194801_0.addMenuItem("新品推荐","location='redir.php?catalog_id=114'");
  mm_menu_1007194801_0.addMenuItem("兜转杭城","location='redir.php?catalog_id=32965'");
  mm_menu_1007194801_0.addMenuItem("消费指南","location='redir.php?catalog_id=39783'");
  mm_menu_1007194801_0.addMenuItem("特别策划","location='redir.php?catalog_id=32967'");
   mm_menu_1007194801_0.hideOnMouseOut=true;
   mm_menu_1007194801_0.bgColor='#555555';
   mm_menu_1007194801_0.menuBorder=1;
   mm_menu_1007194801_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1007194801_0.menuBorderBgColor='#777777';
  window.mm_menu_1007201438_0 = new Menu("root",76,18,"",12,"#000000","#EF7607","#FFE3B9","#FFE3B9","left","middle",3,0,1000,-5,7,true,false,true,0,true,true);
  mm_menu_1007201438_0.addMenuItem("Boystyle","location='redir.php?catalog_id=43780'");
  mm_menu_1007201438_0.addMenuItem("Girlstye","location='redir.php?catalog_id=43781'");
  mm_menu_1007201438_0.addMenuItem("美颜","location='redir.php?catalog_id=43782'");
   mm_menu_1007201438_0.hideOnMouseOut=true;
   mm_menu_1007201438_0.bgColor='#555555';
   mm_menu_1007201438_0.menuBorder=1;
   mm_menu_1007201438_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1007201438_0.menuBorderBgColor='#777777';
  window.mm_menu_1007201517_0 = new Menu("root",76,18,"",12,"#000000","#EF7607","#FFE3B9","#FFE3B9","left","middle",3,0,1000,-5,7,true,false,true,0,true,true);
  mm_menu_1007201517_0.addMenuItem("健康","location='redir.php?catalog_id=32988'");
  mm_menu_1007201517_0.addMenuItem("美食","location='redir.php?catalog_id=32989'");
  mm_menu_1007201517_0.addMenuItem("旅游","location='redir.php?catalog_id=33023'");
  mm_menu_1007201517_0.addMenuItem("情感","location='redir.php?catalog_id=37311'");
   mm_menu_1007201517_0.hideOnMouseOut=true;
   mm_menu_1007201517_0.bgColor='#555555';
   mm_menu_1007201517_0.menuBorder=1;
   mm_menu_1007201517_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1007201517_0.menuBorderBgColor='#777777';
  window.mm_menu_1007201700_0 = new Menu("root",76,18,"",12,"#000000","#EF7607","#FFE3B9","#FFE3B9","left","middle",3,0,1000,-5,7,true,false,true,0,true,true);
  mm_menu_1007201700_0.addMenuItem("电影","location='redir.php?catalog_id=42982'");
  mm_menu_1007201700_0.addMenuItem("音乐","location='redir.php?catalog_id=42983'");
  mm_menu_1007201700_0.addMenuItem("动漫","location='redir.php?catalog_id=42984'");
    mm_menu_1007201700_0.addMenuItem("体育","location='redir.php?catalog_id=43110'");
   mm_menu_1007201700_0.hideOnMouseOut=true;
   mm_menu_1007201700_0.bgColor='#555555';
   mm_menu_1007201700_0.menuBorder=1;
   mm_menu_1007201700_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1007201700_0.menuBorderBgColor='#777777';

mm_menu_1007201700_0.writeMenus();
} // mmLoadMenus()
//-->
</script>
{ /literal }
<script language="JavaScript" src="template/leisure/mm_menu.js"></script>
<link href="template/leisure/css.css" rel="stylesheet" type="text/css" />
</head>

<body>{ literal }<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
{ /literal }
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('template/ban/images/ban1_03.gif','template/ban/images/ban1_05.gif','template/ban/images/ban1_07.gif','template/ban/images/ban1_09.gif','template/ban/images/ban1_11.gif')">
{literal}
<SCRIPT FOR=window EVENT=onload LANGUAGE="JavaScript"> 
initAd();//载入页面后，调用函数initAd() 
</SCRIPT> 
<script language="JavaScript"> 
<!-- 
function initAd() { 
document.all.AdLayer.style.posTop = -200; 
//设置onLoad事件激发以后，广告层相对于固定后的y方向位置 
document.all.AdLayer.style.visibility = 'visible'//设置层为可见 
MoveLayer('AdLayer');//调用函数MoveLayer() 
} 
function MoveLayer(layerName) { 
var x = 1100;//浮动广告层固定于浏览器的x方向位置 
var y = 300;//浮动广告层固定于浏览器的y方向位置 
var diff = (document.body.scrollTop + y - document.all.AdLayer.style.posTop)*.40; 
var y = document.body.scrollTop + y - diff; 
eval("document.all." + layerName + ".style.posTop = y"); 
eval("document.all." + layerName + ".style.posLeft = x");//移动广告层 
setTimeout("MoveLayer('AdLayer');", 20);//设置20毫秒后再调用函数MoveLayer() 
} 
//--> 
</script> 
{/literal}
<!--下面为一个ID为AdLayer的层(如ID名不为AdLayer， 
上面MoveLayer()内的AdLayer也要作相应修改)，包括一张带链接的图片--> 

<div id="img" style="position:absolute; visibility: visible;"> 
  <a href="redir.php?catalog_id=32967&object_id=70629"><img src="template/guanggao.gif" border="0" 
onClick="pause_resume();"></a></div> 
{literal}
<SCRIPT LANGUAGE="JavaScript"> 
<!-- Begin 
var xPos = 20; 
var yPos = document.body.clientHeight; 
var step = 1; 
var delay = 5; 
var height = 0; 
var Hoffset = 0; 
var Woffset = 0; 
var yon = 0; 
var xon = 0; 
var pause = true; 
var interval; 
img.style.top = yPos; 
function changePos() { 
width = document.body.clientWidth; 
height = document.body.clientHeight; 
Hoffset = img.offsetHeight; 
Woffset = img.offsetWidth; 
img.style.left = xPos + document.body.scrollLeft; 
img.style.top = yPos + document.body.scrollTop; 
if (yon) { 
yPos = yPos + step; 
} 
else { 
yPos = yPos - step; 
} 
if (yPos < 0) { 
yon = 1; 
yPos = 0; 
} 
if (yPos >= (height - Hoffset)) { 
yon = 0; 
yPos = (height - Hoffset); 
} 
if (xon) { 
xPos = xPos + step; 
} 
else { 
xPos = xPos - step; 
} 
if (xPos < 0) { 
xon = 1; 
xPos = 0; 
} 
if (xPos >= (width - Woffset)) { 
xon = 0; 
xPos = (width - Woffset); 
} 
} 
function start() { 
img.visibility = "visible"; 
interval = setInterval('changePos()', delay); 
} 
function pause_resume() { 
if(pause) { 
clearInterval(interval); 
pause = false; 
} 
else { 
interval = setInterval('changePos()',delay); 
pause = true; 
} 
} 
start(); 
// End --> 
</script>
{/literal}
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table id="Table_01" width="760" height="30" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href=""><img src="template/ban/images/ban_01.gif" alt="" width="160" height="30" border="0" /></a></td>
        <td><img src="template/ban/images/ban_02.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=3"><img src="template/ban/images/ban_03.gif" alt="" width="64" height="30" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','template/ban/images/ban1_03.gif',1)" onmouseout="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_04.gif" width="52" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=2"><img src="template/ban/images/ban_05.gif" alt="" width="58" height="30" border="0" id="Image2" onmouseover="MM_swapImage('Image2','','template/ban/images/ban1_05.gif',1)" onmouseout="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_06.gif" width="54" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=30"><img src="template/ban/images/ban_07.gif" alt="" width="63" height="30" border="0" id="Image3" onmouseover="MM_swapImage('Image3','','template/ban/images/ban1_07.gif',1)" onmouseout="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_08.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=31"><img src="template/ban/images/ban_09.gif" alt="" width="61" height="30" border="0" id="Image4" onmouseover="MM_swapImage('Image4','','template/ban/images/ban1_09.gif',1)" onmouseout="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_10.gif" width="45" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=32"><img src="template/ban/images/ban_11.gif" alt="" width="61" height="30" border="0" id="Image5" onmouseover="MM_swapImage('Image5','','template/ban/images/ban1_11.gif',1)" onmouseout="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_12.gif" width="48" height="30" alt="" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<script language="JavaScript1.2">mmLoadMenus();</script>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="760" height="196">
      <param name="movie" value="template/leisure/top.swf" />
      <param name="quality" value="high" />
      <embed src="template/leisure/top.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="760" height="196"></embed>
    </object></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="ffa71d"><img src="template/leisure/images/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td><table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="550" height="38" align="center" valign="middle" background="template/leisure/images/catalog_bg.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="6" height="38">&nbsp;</td>
              <td width="27" class="nav"><a href="redir.php?catalog_id=31">首页</a></td>
              <td width="6">&nbsp;</td>
              <td width="56"><div align="center" class="nav"><a href="#" name="link11" class="nav" id="link1" onmouseover="MM_showMenu(window.mm_menu_1007194801_0,0,24,null,'link11')" onmouseout="MM_startTimeout();">最新资讯</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="60"><div align="center" class="nav"><a href="#" name="link2" class="nav" id="link3" onmouseover="MM_showMenu(window.mm_menu_1007201438_0,0,24,null,'link2')" onmouseout="MM_startTimeout();">时尚前沿</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="56"><div align="center" class="nav"><a href="#" name="link7" class="nav" id="link4" onmouseover="MM_showMenu(window.mm_menu_1007201517_0,0,24,null,'link7')" onmouseout="MM_startTimeout();">精致生活</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="56"><div align="center" class="nav"><a href="#" name="link8" class="nav" id="link5" onmouseover="MM_showMenu(window.mm_menu_1007201700_0,0,24,null,'link8')" onmouseout="MM_startTimeout();">休闲驿站</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="55" class="css"><div align="center" class="nav"><a href="#" name="link9" class="nav" id="link6" onmouseover="MM_showMenu(window.mm_menu_1007201933_0,0,24,null,'link9')" onmouseout="MM_startTimeout();">娱乐先锋</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="30" class="css"><div align="center" class="nav"><a href="/blog/" class="nav">博客</a></div></td>
              <td width="7">&nbsp;</td>
              <td width="50"><div align="center"><a href="/thebbs/" class="nav">薄荷糖</a></div></td>
         
            </tr>
        </table></td>
        <td width="117" align="right" valign="top"><img src="template/leisure/images/header_04.gif" width="117" height="38" align="top" /></td>
        <td width="219" background="template/leisure/images/search_bg.gif"><form method="get" action="search.php">
            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="26%" class="css">搜索：</td>
                <td width="26%"><input name="keywords" type="text" size="7" class="keywords" />
                  <input name="postflag" type="hidden" id="postflag" value="1" /></td>
                <td width="32%"><select  name="area">
                  <option value="31" selected="selected">休闲网</option>
                  <option value="3">资讯网</option>
                  <option value="2">教育网</option>
                  <option value="30">服务网</option>
                  <option value="32">网视网</option>
                </select></td>
                <td width="16%"><input type="image" name="imageField" src="template/leisure/images/btn_search.gif" /></td>
              </tr>
            </table>
        </form></td>
      </tr>
    </table></td>
  </tr>
</table>
