<html>
<head>
<title>求是潮</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="template/home/css.css" rel="stylesheet" type="text/css">
<link href="template/edu/style.css" rel="stylesheet" type="text/css"><style type="text/css">
<!--

-->
</style></head>
<body bgcolor="#FFFFFF" >

<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="19" align="right" valign="top"><table width="20" height="460" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="550" background="template/home/images/shadow1.gif">&nbsp;</td>
      </tr>
    </table></td>
    <td width="760" valign="top"><div align="center">
        <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td><div align="center">
              <div align="center">
                <table width="760" border="0" align="center" cellpadding="2" cellspacing="0" bordercolor="#000000">
                  <tr>
                    <td bgcolor="#000000" class="css">滚动新闻:</td>
					<td width="687" bgcolor="#000000" class="css"> <marquee width="100%" height="15" scrollamount="1" scrolldelay="150" direction="up" onMouseOver="this.stop()" onMouseOut="this.start()" >
            {article_list catalog_id=46739 template=article_list_head.htm}
            </marquee></td>
                  </tr>
                </table>
              </div>
            </div></td>
          </tr><tr>
            <td><div align="center">
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="760" height="170">
                <param name="movie" value="template/home/images/banner.swf">
                <param name="quality" value="high">
                <embed src="template/home/images/banner.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="760" height="170"></embed>
              </object>
            </div></td>
          </tr><tr>
            <td>
      <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td bgcolor="#000000"><img src="images/spacer.gif" width="1" height="2"></td>
        </tr>
      </table></td>
          </tr>
          <tr>
            <td><div align="center">
              <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><a href="redir.php?catalog_id=3"><img src="template/home/images/index_01.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=2"><img src="template/home/images/index_02.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=30"><img src="template/home/images/index_03.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=31"><img src="template/home/images/index_04.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=32"><img src="template/home/images/index_05.gif" alt="" width="152" height="30" border="0"></a></td>
                </tr>
              </table>
            </div></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=12">浙大广角</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=4">人物专访</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=16">社团缤纷</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey">
                          <div align="center" class="grey"><a href="redir.php?catalog_id=15">院系风采</a></div>
                      </div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=35">教育天地</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=77">校友风采</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=32983">入党文书</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=38">学在浙大</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=43458">信息总汇</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=87">资源无限</a></div></td>
                    </tr>
                    <tr>
                      <td class="grey"><div align="center"><a href="redir.php?catalog_id=101">失物招领</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center"><a href="redir.php?catalog_id=43471" class="grey">表格下载</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="/blog/">博客</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="thebbs/">薄荷糖论坛</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=118">flash小游戏</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=32963">折扣信息</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="21%" valign="top"><table width="149" border="0" align="right" cellpadding="8" cellspacing="0">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=128">新闻速递</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=124">原创DV</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=121">求是访谈室</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=127">学术报告厅</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="http://10.76.8.3/new/qscjunxun/"><img src="template/home/images/banner3.jpg" width="760" height="100" border="0"></a></td>
          </tr>
         
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>{include file=footer.html} </td>
          </tr>
        </table>
    </div></td>
    <td width="21" align="left" valign="top"><table width="20" height="460" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="550" background="template/home/images/shadow.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
{wescms_ad code=portal}
<br>
</body>
</html>