<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>休闲网</title>
<link href="template/images/leisure/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="25" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="5" height="5" /></td>
    <td width="197" bgcolor="#003399"><img src="template/images/leisure/spacer.gif" width="5" height="5" /></td>
    <td width="538" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="5" height="5" /></td>
  </tr>
  <tr>
    <td bgcolor="#000000">&nbsp;</td>
    <td><img src="template/images/leisure/head_03.gif" width="197" height="45" alt="" /></td>
    <td align="center" bgcolor="#000000" class="white14"><a href="/blog/">Blog</a> | Group | 咨询 | 娱乐 | 客服与沟通 </td>
  </tr>
  <tr>
    <td valign="top"><img src="template/images/leisure/head_05.gif" width="25" height="185" alt="" /></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="template/images/leisure/head_07.gif" width="198" height="81" alt="" /></td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="4" cellpadding="0">
          <tr>
            <td width="10%">&nbsp;</td>
            <td colspan="2" class="grey"><img src="template/images/leisure/dot.gif" width="10" height="10" /> 用户名</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2"><input name="textfield" type="text" class="icon" size="18" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2"><span class="grey"><img src="template/images/leisure/dot.gif" width="10" height="10" /> 密码</span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2"><input name="textfield2" type="text" class="icon" size="18" /></td>
          </tr>
          
          
          
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="template/images/leisure/head_08.gif" width="131" height="161" alt="" /></td>
            <td><img src="template/images/leisure/head_09.gif" width="147" height="161" alt="" /></td>
            <td><img src="template/images/leisure/head_10.gif" width="169" height="161" alt="" /></td>
            <td><img src="template/images/leisure/head_11.gif" width="93" height="161" alt="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="template/images/leisure/head_13.gif" width="34" height="24" alt="" /></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="764" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="223" valign="top"><table width="223" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="25"><table width="25" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td width="198" valign="top"><table width="198" border="0" align="right" cellpadding="0" cellspacing="0" bordercolor="#D4D7D0">
          <tr>
            <td width="10" height="287" rowspan="5" background="template/images/leisure/bg.gif"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
            <td width="182" align="center" valign="top"><table width="100%" border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td width="72%" class="grey">忘记密码</td>
                <td width="28%" rowspan="2"><input name="Submit" type="submit" class="icon" value="登录" /></td>
              </tr>
              <tr>
                <td class="grey">注册</td>
                </tr>
            </table></td>
            <td width="10" rowspan="5" background="template/images/leisure/bg2.gif">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><img src="template/images/leisure/ban.gif" width="173" height="28" /></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="ye"><img src="template/images/leisure/dot1.gif" width="17" height="17" /> 餐饮美食 </td>
                  </tr>
                  <tr>
                    <td width="13%" class="text">&nbsp;</td>
                    <td width="87%" class="text">牛奶咖啡</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="ye"><img src="template/images/leisure/dot2.gif" width="17" height="17" /> 休闲娱乐 </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="ye"><img src="template/images/leisure/dot3.gif" width="17" height="17" /> 服装饰品</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="ye"><img src="template/images/leisure/dot1.gif" width="17" height="17" /> 美容美发 </td>
                  </tr>
                  <tr>
                    <td width="13%" class="text">&nbsp;</td>
                    <td width="87%" class="text">牛奶咖啡</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="ye"><img src="template/images/leisure/dot2.gif" width="17" height="17" /> 数码通讯 </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="ye"><img src="template/images/leisure/dot3.gif" width="17" height="17" /> 其他</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
          <tr>
            <td width="300" class="texttitle"><img src="template/images/leisure/1.gif" width="44" height="39" />资讯</td>
            <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
          </tr>
          <tr>
            <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
          </tr>
          <tr>
            <td colspan="2"><span class="block block1">{article_list catalog_id=','|explode:'32962,32963,114,32965,32967,39783' count=3 picture_only=1 template=article_list_picture_edu.html}</span></td>
          </tr>
          <tr>
            <td colspan="2"><div class="block block1">{article_list catalog_id=','|explode:'32962,32963,114,32965,32967,39783' count=6 template=article_list_simple.htm} </div></td>
          </tr>
          
        </table></td>
        <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
          <tr>
            <td width="300" class="texttitle"><img src="template/images/leisure/3.gif" width="44" height="39" />时尚前沿</td>
            <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
          </tr>
          <tr>
            <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
          </tr>
          <tr>
            <td colspan="2">{article_list catalog_id=','|explode:'32992,32994' count=2 picture_only=1 template=article_list_picture_edu.html}</td>
          </tr>
          <tr>
            <td colspan="2"><div class="block block2">{article_list catalog_id=','|explode:'32992,32994' count=6 template=article_list_simple.htm}</div></td>
          </tr>
          
        </table></td>
      </tr>
      
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td width="300" class="texttitle"><img src="template/images/leisure/2.gif" width="44" height="39" />精致生活</td>
                <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
              </tr>
              <tr>
                <td colspan="2">{article_list catalog_id=','|explode:'32988,32989,33023,37311' count=2 template=article_list_picture_edu.html}</td>
              </tr>
              <tr>
                <td colspan="2"><div class="block block2">{article_list catalog_id=','|explode:'32988,32989,33023,37311' count=10 template=article_list_simple.htm}</div></td>
              </tr>
          </table></td>
          <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td width="300" class="texttitle"><img src="template/images/leisure/4.gif" width="44" height="39" />休闲驿站</td>
                <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
              </tr>
              <tr>
                <td colspan="2">{article_list catalog_id=','|explode:'32996,32997' count=2 picture_only=1 template=article_list_picture_edu.html}</td>
              </tr>
              <tr>
                <td colspan="2"><div class="block block2">{article_list catalog_id=','|explode:'32996,32997' count=10 template=article_list_simple.htm}</div></td>
              </tr>
          </table></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td width="300" class="texttitle"><img src="template/images/leisure/2.gif" width="44" height="39" />休闲驿站</td>
                <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
          </table></td>
          <td width="50%"><table width="100%" border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td width="300" class="texttitle"><img src="template/images/leisure/4.gif" width="44" height="39" />最新优惠</td>
                <td width="38" valign="bottom" class="texttitle"><img src="template/images/leisure/more.gif" width="30" height="11" /></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#CCCCCC"><img src="template/images/leisure/spacer.gif" width="1" height="1" /></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
