<table width="184" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="184" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <td background="template/images/service/bg.gif"><div align="center" class="white24">用户登陆</div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><form id="form1" name="form1" method="post" action="login.php">
      <table width="184" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td background="template/images/service/bg.gif"><div align="center" class="white24">
              <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                  <td width="33%"><div align="center">帐号</div></td>
                  <td width="67%"><label>
                    <input name="username" type="text" id="username" size="12" />
                  </label></td>
                </tr>
              </table>
          </div></td>
        </tr>
        <tr>
          <td background="template/images/service/bg.gif"><div align="center" class="white24">
              <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                  <td width="33%"><div align="center">密码</div></td>
                  <td width="67%"><label>
                    <input name="password" type="password" id="password" size="12" />
                  </label></td>
                </tr>
              </table>
          </div></td>
        </tr>
        <tr>
          <td background="template/images/service/bg.gif"><table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tr>
                <td><div align="center">
                    <input name="Submit" type="submit" class="icon" value="登陆" />
                    <input name="postflag" type="hidden" id="postflag" value="1" />
                    <input name="forward" type="hidden" id="forward" value="redir.php?catalog_id=30" />
                </div></td>
                <td><div align="center">
                    <input name="Submit2" type="button" class="icon" value="注册" onclick="window.location.href='register.php'" />
                </div></td>
              </tr>
            </table>
              <label></label></td>
        </tr>
      </table>
        </form>
    </td>
  </tr>
  <tr>
    <td bgcolor="#DEDEDE">&nbsp;</td>
  </tr>
</table>
<table width="184" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="184" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <td background="template/images/service/bg.gif"><div align="center" class="white24">服务热线</div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#dedede"><div class="block left">{ sub_catalog_list catalog_id=96}</div></td>
  </tr>
  <tr>
    <td bgcolor="#DEDEDE">&nbsp;</td>
  </tr>
</table>
<table width="184" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="184" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <td background="template/images/service/bg.gif"><div align="center" class="white24">表格下载</div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#dedede"><div class="block left">{article_list catalog_id=40072 count=10 template=article_list_simple.htm}</div></td>
  </tr>
  <tr>
    <td bgcolor="#DEDEDE">&nbsp;</td>
  </tr>
</table>
