<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>欢迎来到求是潮服务网!</title>
<link href="template/images/service/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
{include file=service_header.html} 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="186" valign="top" bgcolor="#DEDEDE">{ include file=service_left.html} </td>
    <td width="424" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%"><br />
          <table width="100%" border="0" cellspacing="4" cellpadding="0">
          <tr>
            <td class="grey"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="9%"><img src="template/images/service/dot3.gif" width="27" height="29" /></td>
                <td width="91%">精彩进行时</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#286112"><img src="template/images/service/spacer.gif" width="1" height="1" /></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><div class="block block2">{article_list catalog_id=92 count=8 template=article_list_simple.htm}</div></td>
                <td width="140" valign="top">{article_list catalog_id=92 count=2 picture_only=1 template=article_list_picture_vert1.html} </td>
              </tr>
            </table></td>
          </tr>
        </table>
          <br />
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                  <tr>
                    <td><div align="center" class="white24">校方通告</div></td>
                  </tr>
                </table>
                  <div class="block">{article_list catalog_id=93 count=5 template=article_list_simple.htm}</div></td>
              <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                  <tr>
                    <td><div align="center" class="white24">院系风采</div></td>
                  </tr>
                </table>
                  <div class="block">{article_list catalog_id=94 count=5 template=article_list_simple.htm}</div></td>
              <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                  <tr>
                    <td><div align="center" class="white24">社团活动</div></td>
                  </tr>
                </table>
                  <div class="block">{article_list catalog_id=95 count=5 template=article_list_simple.htm}</div></td>
            </tr>
          </table>
          <br /></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="4" cellpadding="0">
          <tr>
            <td class="grey"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="9%"><img src="template/images/service/dot3.gif" width="27" height="29" /></td>
                <td width="91%">我的社区</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#286112"><img src="template/images/service/spacer.gif" width="1" height="1" /></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                  <tr>
                    <td><div align="center" class="white24">信息总汇</div></td>
                  </tr>
                </table>
                  <div class="block block1">{article_list catalog_id=','|explode:'39507,39510,39529,39583,39879,39880,39888' count=5 template=article_list_simple.htm}</div></td>
                <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                  <tr>
                    <td><div align="center" class="white24">查询服务</div></td>
                  </tr>
                </table>
                  <div class="block block1">{article_list catalog_id=104 count=5 template=article_list_simple.htm}</div></td>
              </tr>
            </table></td>
          </tr>
        </table>
          <br /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="4" cellpadding="0">
        <tr>
          <td class="grey"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="9%"><img src="template/images/service/dot3.gif" width="27" height="29" /></td>
              <td width="91%">紫金港攻略</td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td bgcolor="#286112"><img src="template/images/service/spacer.gif" width="1" height="1" /></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                    <tr>
                      <td><div align="center" class="white24">学习</div></td>
                    </tr>
                  </table>
                </td>
                <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                    <tr>
                      <td><div align="center" class="white24">生活</div></td>
                    </tr>
                </table>
                </td>
                <td valign="top"><table width="130" height="22" border="0" cellpadding="0" cellspacing="0" background="template/images/service/BG2.gif">
                    <tr>
                      <td><div align="center" class="white24">娱乐</div></td>
                    </tr>
                  </table>
                </td>
              </tr>
          </table></td>
        </tr>
      </table>
    </td>
    <td width="150" valign="top" bgcolor="#DEDEDE"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#7a7a7a">
          <tr>
            <td><div align="center" class="white24">搜索引擎</div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#DEDEDE">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#7a7a7a">
          <tr>
            <td><div align="center" class="white24">快速导航</div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#DEDEDE"><div class="block">{customize_page catalog_id=39702 short_mode=1} </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
{include file=global_footer.html} 
</body>
</html>
