<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>欢迎来到求是潮服务网!</title>
<link href="template/images/service/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
{include file=service_header.html} 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="186" valign="top" bgcolor="#DEDEDE">{ include file=service_left.html} </td>
    <td valign="top"><br />
      <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr>
              <td class="grey"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="9%"><img src="template/images/service/dot3.gif" width="27" height="29" /></td>
                    <td width="91%">{$catalog.name}</td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td bgcolor="#286112"><img src="template/images/service/spacer.gif" width="1" height="1" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          {article_list catalog_id=$catalog.id count=20 template=article_list_pages.htm} </td>
        </tr>
      </table></td>
  </tr>
</table>
{include file=global_footer.html} 
</body>
</html>
