{include file=news/header.html} 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><p>当前位置：<a href="redir.php?catalog_id=57703">&quot;养生堂杯&quot;军训系列活动</a>&gt;{current_position root_id=57703 catalog_id=$catalog.id} </p>
          <p>&nbsp;</p></td>
      </tr>
      <tr>
        <td>{article_detail id=$smarty.request.object_id template=article_detail_simple.htm} </td>
      </tr>
    </table>
        <br />
        <br /></td>
  </tr>
</table>
{include file=footer.html} 
</body>
</html>
