<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>&quot;养生堂杯&quot;军训系列活动</title>
{literal}
<style type="text/css">
<!--
.STYLE1 {font-size: 12px}
-->
</style>
<link href="template/zhengwen/style.css" rel="stylesheet" type="text/css">
{/literal}
</head>

<body>
<table width="960" border="0" align="center" cellpadding="0">
  <tr>
    <td><div align="center"><img src="template/zhengwen/image/ban.gif" width="960" height="228" /></div></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="267"><img src="template/zhengwen/image/intro.gif" width="267" height="42" /></td>
    <td width="693" rowspan="4" align="center" valign="middle"><div align="center"><img src="template/zhengwen/image/poem.gif" width="641" height="262" /></div></td>
  </tr>
  <tr>
    <td><img src="template/zhengwen/image/01.gif" width="267" height="74" /></td>
  </tr>
  <tr>
    <td background="template/zhengwen/image/bgleft.gif"><blockquote>
      <p class="STYLE1">&nbsp;    </p>
      <p align="left" class="STYLE1">让我们拿起手中的笔，定格住那些斑斓的瞬间，记录下点点跳动的回忆，抒写出句句诚挚的迷彩心声。</p>
    </blockquote>      <p class="STYLE1">&nbsp;</p></td>
  </tr>
  <tr>
    <td background="template/zhengwen/image/bgleft.gif" class="STYLE1"><div align="right">
      <blockquote>
        <p><a href="redir.php?catalog_id=12&amp;object_id=66020">&gt; 活动详细</a></p>
      </blockquote>
    </div></td>
  </tr>
  <tr>
    <td><img src="template/zhengwen/image/02.gif" width="267" height="74" /></td>
    <td valign="bottom"><img src="template/zhengwen/image/news.gif" width="693" height="41" /></td>
  </tr>
  <tr>
    <td background="template/zhengwen/image/bgleft.gif" class="STYLE1"><blockquote>
      <p>&nbsp;</p>
      <p>拿起手中的笔，举起手中的相机，记录教官的点点滴滴，让斑斓瞬间定格成永恒，为自己，更为教官珍藏一份美好的回忆。</p>
      <p>&nbsp;</p>
    </blockquote></td>
    <td rowspan="2" align="left" background="template/zhengwen/image/mar_rht.gif"><table width="689" height="123" border="0">
      <tr>
        <td width="22" rowspan="2">&nbsp;</td>
        <td width="657">{article_list catalog_id=60683 count=10 tcut=80 template=home/article_list_simple.htm}</td>
      </tr>
      <tr>
        <td align="right"><a href="redir.php?catalog_id=60683"><img src="template/zhengwen/image/more.png" width="31" height="13" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
  <tr background="template/zhengwen/image/bgleft.gif">
    <td background="template/zhengwen/image/bgleft.gif" class="STYLE1"><div align="right">
      <blockquote>
        <p><a href="redir.php?catalog_id=12&amp;object_id=66027">&gt; 活动详细</a></p>
      </blockquote>
    </div></td>
  </tr>
  <tr>
    <td height="19" valign="top"><img src="template/zhengwen/image/mar_left.gif" width="267" height="4" /></td>
    <td align="left" valign="top"><img src="template/zhengwen/image/downrht.gif" width="693" height="4" /></td>
  </tr>
</table>
<table width="962" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
  <tr>
    <td width="962" class="STYLE1"><div align="center">COPYRIGHT (C) 2007 求是潮工作团队 www.qsc.zju.edu.cn</div></td>
  </tr>
</table>
</body>
</html>
