{foreach from=$articles item=article}
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td><div align="center"><img src="file.php?cmd=preview&id={$article.picture_id}" width="120" height="90" alt="" /></div></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="2">
      <tr>
        <td><div align="center" class="css"><a href="redir.php?catalog_id={$article.catalog}&object_id={$article.id}">{$article.heading}</a></div></td>
      </tr>
      <tr>
        <td class="grey"><div align="center"><a href="redir.php?catalog_id={$article.catalog}">点击查看更多</a></div></td>
      </tr>
    </table></td>
  </tr>
</table>
{/foreach}
