{include file=video/header.html}
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><br />
          <table width="98%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #ddd;boder-top: 0px">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><br /></td>
                              </tr>
                              <tr>
                                <td>{guestbook_list template=guestbook/guestbook_list_full.htm catalog_id=$catalog.id} </td>
                              </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
            </tr>
      </table></td><td width="200" valign="top">{ include file=video/right.html} </td>
  </tr>
</table>
{include file=footer.html} 
</body>
</html>
