<html>
<head>
<title>求是潮</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="template/home/css.css" rel="stylesheet" type="text/css">
<link href="template/edu/style.css" rel="stylesheet" type="text/css"></head>
<body bgcolor="#FFFFFF" leftmargin="0" marginwidth="0">
<!-- ImageReady Slices (index.psd) -->
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="19" background="template/home/images/shadow1.gif">&nbsp;</td>
    <td width="760" valign="top"><div align="center">
        <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td><div align="center">
              <div align="center">
                <table width="760" border="0" align="center" cellpadding="2" cellspacing="0" bordercolor="#000000">
                  <tr>
                    <td bgcolor="#000000" class="css">滚动新闻:</td>
                  </tr>
                </table>
              </div>
            </div></td>
          </tr><tr>
            <td><div align="center"><img src="template/home/images/index_06.gif" width="760" height="170" alt=""></div></td>
          </tr><tr>
            <td>
      <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td bgcolor="#000000"><img src="images/spacer.gif" width="1" height="2"></td>
        </tr>
      </table></td>
          </tr>
          <tr>
            <td><div align="center">
              <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><a href="redir.php?catalog_id=3"><img src="template/home/images/index_01.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=2"><img src="template/home/images/index_02.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=30"><img src="template/home/images/index_03.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=31"><img src="template/home/images/index_04.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=32"><img src="template/home/images/index_05.gif" alt="" width="152" height="30" border="0"></a></td>
                </tr>
              </table>
            </div></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=12">浙大广角</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=4">人物专访</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=16">社团缤纷</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey">
                          <div align="center" class="grey"><a href="redir.php?catalog_id=15">院系风采</a></div>
                      </div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=35">教育天地</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=77">校友风采</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=32983">入党文书</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=38">学在浙大</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=43458">信息总汇</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=54326&object_id=54327">资源无限</a></div></td>
                    </tr>
                    <tr>
                      <td class="grey"><div align="center"><a href="redir.php?catalog_id=101">失物招领</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center"><a href="redir.php?catalog_id=43471" class="grey">表格下载</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="20%" valign="top"><table width="150" border="0" cellspacing="0" cellpadding="8">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="blog/">博客</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=43781">girl style </a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=118">flash小游戏</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=32963">折扣信息</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
                <td width="0%" valign="top"><img src="template/home/images/divider.gif" width="2" height="180"></td>
                <td width="21%" valign="top"><table width="149" border="0" align="right" cellpadding="8" cellspacing="0">
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=128">新闻速递</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=124">原创DV</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=121">求是访谈室</a></div></td>
                    </tr>
                    <tr>
                      <td><div align="center" class="grey"><a href="redir.php?catalog_id=127">学术报告厅</a></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>{include file=footer.html} </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    </div></td>
    <td width="21" background="template/home/images/shadow.gif">&nbsp;</td>
  </tr>
</table>
<br>
<!-- End ImageReady Slices -->
</body>
</html>