<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=gb2312"/>
<title>求是潮校庆专题</title>
<link href="template/news/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
{sub_catalog_list catalog_id=3 assign=catalogs}
{ literal }
{ /literal }
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('template/ban/images/ban1_03.gif','template/ban/images/ban1_05.gif','template/ban/images/ban1_07.gif','template/ban/images/ban1_09.gif','template/ban/images/ban1_11.gif')">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table id="Table_01" width="760" height="30" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" background="template/birthday/images/headerbg.jpg"><a href=""><img src="template/birthday/images/index.gif" width="50" height="34" border="0"></a></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><a href="redir.php?catalog_id=58232"><img src="template/birthday/images/huodong.gif" width="88" height="34" border="0"></a></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><a href="redir.php?catalog_id=36"><img src="template/birthday/images/xiaoshi.gif" width="66" height="34" border="0"></a></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><img src="template/birthday/images/xiaoqing.gif" width="65" height="34"></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><a href="blog/index.php/1017/action_viewspace_itemid_1254.html"><img src="template/birthday/images/jinyintiaozhan.gif" width="115" height="34" border="0"></a></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><img src="template/birthday/images/xiaoyoujiyu.gif" width="88" height="34"></td>
        <td align="center" background="template/birthday/images/headerbg.jpg"><a href="redir.php?catalog_id=40"><img src="template/birthday/images/dianzishu.gif" width="67" height="34" border="0"></a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="102" colspan="7"><a href="redir.php?catalog_id=57703"><img src="template/birthday/images/hbanner1.jpg" width="766" height="115" border="0"></a></td>
  </tr>
</table>
