
{ include file=service/header.html }
<br>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><iframe width="580" height="700" frameborder="0" src="/wescms/contrib.php?cmd=add&catalog=44055"></iframe><br>
      <br></td><td width="15">&nbsp;</td>
    <td width="180" valign="top">{ include file=service/right.html} 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="25" align="center" background="template/service/images/right_bg.gif" class="wheader">服务热线</td>
        </tr>
        <tr>
          <td bgcolor="#DEDFDE"><br />
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="30"><img src="template/service/images/mailbox_dot.gif" width="25" height="25" /></td>
                        <td>校长信箱</td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="30"><img src="template/service/images/mailbox_dot.gif" width="25" height="25" /></td>
                        <td>QSC热线</td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="30"><img src="template/service/images/mailbox_dot.gif" width="25" height="25" /></td>
                        <td>后勤集团</td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
{include file=footer.html} 