<html>
<head>
<title>服务网__求是潮</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="template/service/style.css"/>
<link rel="stylesheet" href="template/browse.css"/>
{ literal }
<style type="text/css">

a.more {
	margin: 5px;
	margin-bottom: 0px;
	margin-right: 10px;
	text-indent: -5000px;
	background-image: url(template/service/images/more.gif);
	display: block;
	float: right;
	width: 42px;
	height: 16px;
}
ul li {
	list-style-image: url(template/service/images/dot.png);
}
div.catalog ul li {
	list-style-image: none;
}
div.article_browse ul li {
	list-style-image: none;
}
div.article_browse a {
	background-image: url(template/service/images/dot.png);
}
</style>
{ /literal }
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (Untitled-1) -->
{ literal }<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
{ /literal }
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('template/ban/images/ban1_03.gif','template/ban/images/ban1_05.gif','template/ban/images/ban1_07.gif','template/ban/images/ban1_09.gif','template/ban/images/ban1_11.gif')">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table id="Table_01" width="760" height="30" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href=""><img src="template/ban/images/ban_01.gif" alt="" width="160" height="30" border="0" /></a></td>
        <td><img src="template/ban/images/ban_02.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=3"><img src="template/ban/images/ban_03.gif" alt="" width="64" height="30" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','template/ban/images/ban1_03.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_04.gif" width="52" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=2"><img src="template/ban/images/ban_05.gif" alt="" width="58" height="30" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','template/ban/images/ban1_05.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_06.gif" width="54" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=30"><img src="template/ban/images/ban_07.gif" alt="" width="63" height="30" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','template/ban/images/ban1_07.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_08.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=31"><img src="template/ban/images/ban_09.gif" alt="" width="61" height="30" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','template/ban/images/ban1_09.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_10.gif" width="45" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=32"><img src="template/ban/images/ban_11.gif" alt="" width="61" height="30" border="0" id="Image5" onMouseOver="MM_swapImage('Image5','','template/ban/images/ban1_11.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_12.gif" width="48" height="30" alt="" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<TABLE height=186 cellSpacing=0 cellPadding=0 width=762 align=center border=0>
  <TBODY>
    <TR>
      <TD width="485" rowspan="3"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="485" height="185">
        <param name="movie" value="template/service/images/ser.swf">
        <param name="quality" value="high">
        <embed src="template/service/images/ser.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="485" height="185"></embed>
      </object></TD>
      <TD colSpan=2><img src="template/service/images/header_01.gif" width="275" height="15"></TD>
    </TR>
    <TR>
      <TD width=186 background="template/service/images/header_03.gif" height=155 valign="top">
	  <TABLE cellSpacing=2 cellPadding=3 width="100%" border=0>
          <TR>
            <TD><strong>{$smarty.now|date_format:'%Y年%m月%d日'}</strong></TD>
          </TR>
          <TR>
            <TD><div style='line-height:130%;overflow:hidden'>{customize_page catalog_id=40056 short_mode=1}</div></TD>
          </TR>
      </TABLE></TD>
      <TD width="91" rowSpan=2><IMG height=171 alt="" src="template/service/images/header_04.gif" 
      width=89></TD>
    </TR>
    <TR>
      <TD height="16"><IMG height=16 alt="" src="template/service/images/header_05.gif" 
  width=186></TD>
    </TR>
  </TBODY>
</TABLE>
<!-- End ImageReady Slices -->
</body>
</html>