{include file=service/header.html} 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><p>当前位置:<a href="redir.php?catalog_id=30">服务网</a>>{current_position root_id=30 catalog_id=$catalog.id} </p>
      <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr>
              <td class="grey"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                    <td width="91%">{$catalog.name}</td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td bgcolor="#286112"><img src="template/images/service/spacer.gif" width="1" height="1" /></td>
            </tr>
            <tr>
              <td><div class="article_browse">{article_list catalog_id=$catalog.id count=30 template=article_list_pages.htm page=$smarty.request.page tcut=50} </div></td>
            </tr>
          </table>
          </td>
      </tr>
    </table>
      <br />
    <br /></td><td width="15">&nbsp;</td>
    <td width="180" valign="top">{ include file=service/right.html} </td>
  </tr>
</table>
{include file=footer.html} 
</body>
</html>
