
{ include file=service/header.html }
<br>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style='border: 1px solid #ddd'>
      <tr>
        <td width="32" valign="top" bgcolor="#13420D"><img src="template/service/images/xyxx.jpg" width="32" height="515"></td>
        <td width="531" valign="top" background="template/service/images/bg1.gif"><table width="100%" border="1" cellpadding="4" cellspacing="0" bordercolor="#DDDDDD">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                      <td width="91%"><span class="gheader">[今日重点]</span></td>
                    </tr>
                </table>                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><div class="block block2">{article_list catalog_id=92 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                        <tr>
                          <td align="right"><a href="redir.php?catalog_id=92"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                        </tr>
                        </table></td>
                    </tr>
                    </table></td>
                </tr>
              
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                        <td width="91%" class="gheader">[校方通告]</td>
                      </tr>
                  </table></td>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                        <td width="91%" class="gheader">[院系风采]</td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><div class="block block2">{article_list catalog_id=93 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                        <tr>
                          <td align="right"><a href="redir.php?catalog_id=93"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><div class="block block2">{article_list catalog_id=94 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                        <tr>
                          <td align="right"><a href="redir.php?catalog_id=94"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="9%"><a href="/redir?"><img src="template/service/images/dot3.gif" width="32" height="32" border="0" /></a></td>
                        <td width="91%" class="gheader">[社团活动]</td>
                      </tr>
                  </table></td>
                  <td rowspan="2" align="center">{article_list template=article_list_sina.html count=3 width=200 height=150 catalog_id=95 picture_only=1} </td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><div class="block block2">{article_list catalog_id=95 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                        <tr>
                          <td align="right"><a href="redir.php?catalog_id=95"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
      </tr>
    </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #ddd">
          <tr>
            <td width="32" valign="top" bgcolor="#13420D"><img src="template/service/images/wdsq.gif" width="32" height="394"></td>
            <td width="531" valign="top" background="template/service/images/bg1.gif"><table width="100%" border="1" cellpadding="4" cellspacing="0" bordercolor="#DDDDDD">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                          <td width="91%" class="gheader">[表格下载]</td>
                        </tr>
                    </table></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                          <td width="91%" class="gheader">[失物招领]</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div class="block block2">{article_list catalog_id=43471 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                          <tr>
                            <td align="right"><a href="redir.php?catalog_id=43471"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div class="block block2">{article_list catalog_id=101 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                          <tr>
                            <td align="right"><a href="redir.php?catalog_id=101"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                            <td width="91%" class="gheader">[生活小TIPS]</td>
                          </tr>
                      </table></td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                            <td width="91%" class="gheader">[查询服务]</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><div class="block block2">{article_list catalog_id=103 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                        </tr>
                        <tr>
                          <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                            <tr>
                              <td align="right"><a href="redir.php?catalog_id=103"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><div class="block block2">{article_list catalog_id=104 count=5 cut=38 template=article_list_simple_ser.htm}</div></td>
                        </tr>
                        <tr>
                          <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                            <tr>
                              <td align="right"><a href="redir.php?catalog_id=104"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p></td>
              </tr>
            </table></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="32" valign="top" bgcolor="#13420D"><img src="template/service/images/zjggl.gif" width="32" height="189" /></td>
            <td width="533" valign="top" ><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="DDDDDD">
                <tr>
                  <td height="220" valign="middle"><table width="100%" border="0" cellspacing="2" cellpadding="4">
                      <tr>
                        <td><div align="center"><img src="template/service/images/zjg.jpg" width="401" height="191" border="0" usemap="#MapMap" /></div></td>
                      </tr>
                    </table>
                      <map name="MapMap" id="MapMap2">
                        <area shape="rect" coords="-3,-4,126,93" href="redir.php?catalog_id=107" />
                        <area shape="rect" coords="135,92,260,192" href="redir.php?catalog_id=108" />
                        <area shape="rect" coords="260,91,406,190" href="redir.php?catalog_id=106" />
                    </map></td>
                </tr>
            </table></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="1" valign="top">&nbsp;</td>
            <td height="1" valign="top" >&nbsp;</td>
          </tr>
          <tr>
            <td width="32" valign="top" bgcolor="#13420D"><img src="template/service/images/fwrx.gif" width="32" height="124" /></td>
            <td width="533" valign="top" ><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="DDDDDD">
                <tr>
                  <td height="133" valign="middle"><table width="85%" height="109" border="00" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="12%" align="right" valign="middle"><input type="image" name="imageField" src="template/service/images/mailbox_dot.gif" /></td>
                      <td width="19%" align="left" valign="middle">校长信箱</td>
                      <td width="12%" align="right" valign="middle"><input type="image" name="imageField2" src="template/service/images/mailbox_dot.gif" /></td>
                      <td width="22%" align="left" valign="middle">QSC热线</td>
                      <td width="12%" align="right" valign="middle"><input type="image" name="imageField3" src="template/service/images/mailbox_dot.gif" /></td>
                      <td width="17%" align="left" valign="middle">后勤集团</td>
                      <td width="6%" align="center" valign="middle">&nbsp;</td>
                    </tr>
                  </table>
                    <map name="MapMap" id="MapMap">
                        <area shape="rect" coords="-3,-4,126,93" href="redir.php?catalog_id=107" />
                        <area shape="rect" coords="135,92,260,192" href="redir.php?catalog_id=108" />
                        <area shape="rect" coords="260,91,406,190" href="redir.php?catalog_id=106" />
                    </map></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
    <td width="15">&nbsp;</td>
    <td width="180" valign="top">{ include file=service/right.html}    </td>
  </tr>
</table>
{include file=footer.html} 
<map name="Map" id="Map"><area shape="rect" coords="-3,-4,126,93" href="redir.php?catalog_id=107" />
<area shape="rect" coords="135,92,260,192" href="redir.php?catalog_id=108" />
<area shape="rect" coords="260,91,406,190" href="redir.php?catalog_id=106" />
</map>