{literal}
<style type="text/css">
<!--
.Blank a {
	font-family: "宋体";
	font-weight: bold;
	color: #663300;
	text-decoration: blink;
}
-->
</style>
{/literal}
{ include file=service/header.html }
<br>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  
  <tr>
    <td height="702" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style='border: 1px solid #ddd'>
      <tr>
        <td width="32" height="253" valign="top" bgcolor="#13420D"><img src="template/service/images/xyxx.jpg" width="32" height="252"></td>
        <td width="205" align="center" valign="middle" background="template/service/images/bg1.gif"><table width="100%" border="00" cellspacing="2" cellpadding="2">
          <tr>
            <td height="88" align="center" valign="middle" background="template/service/images/bg1.gif"><a href="redir.php?catalog_id=93"><img src="template/service/images/button1.gif" width="100" height="30" border="0" /></a></td>
          </tr>
          <tr>
            <td height="58" align="center" valign="top" background="template/service/images/bg1.gif"><a href="redir.php?catalog_id=94"><img src="template/service/images/button2.gif" width="100" height="30" border="0" /></a></td>
          </tr>
          <tr>
            <td height="63" align="center" valign="top" background="template/service/images/bg1.gif"><a href="redir.php?catalog_id=95"><img src="template/service/images/button3.gif" width="100" height="30" border="0" /></a></td>
          </tr>
        </table></td>
        <td width="331" valign="top" background="template/service/images/bg1.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><table width="100%" border="00" cellspacing="2" cellpadding="2">
                      <tr>
                        <td width="10%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                        <td width="90%"><span class="gheader">[今日重点]</span></td>
                      </tr>
                  </table></td>
                </tr>
              </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><div class="block block2">{article_list catalog_id=92 count=9 tcut=22 template=article_list1.htm}</div></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                        <tr>
                          <td align="right"><a href="redir.php?catalog_id=92"><img src="template/images/edu/more.png" alt="more" width="31" height="13" border="0" /></a></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
          </tr>
        </table></td>
        </tr>
      
    </table>
    <br>
        <table width="100%" height="163" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #ddd">
          <tr>
            <td width="32" height="220" rowspan="3" valign="top" bgcolor="#13420D"><img src="template/service/images/zt.gif" width="32" height="160" /></td>
            <td width="224" rowspan="3" align="center" valign="middle" background="template/service/images/bg1.gif"><table width="100%" height="161" border="1" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC">
              <tr>
                <td height="149">{article_list catalog_id=54403,54404,54405 count=5 picture_only=1 template=article_list_sina.html width=220 height=180 tcut=17} </td>
              </tr>
            </table></td>
            <td width="18" rowspan="3" valign="middle" background="template/service/images/bg1.gif"><p class="block block2">&nbsp;</p>            </td>
            <td width="294" height="13" valign="middle" background="template/service/images/bg1.gif"><p class="block block2">&nbsp;</p>            </td>
          </tr>
          <tr>
            <td height="116" valign="middle" background="template/service/images/bg1.gif"><p class="block block2">{article_list catalog_id=54403 count=2 tcut=20}</p>
              <p class="block block2">{article_list catalog_id=54404 count=2 tcut=20}</p>
              <p class="block block2">{article_list catalog_id=54405 count=3 tcut=20}</p></td>
          </tr>
          <tr>
            <td height="24" valign="middle" background="template/service/images/bg1.gif">&nbsp;</td>
          </tr>
      </table>
{literal}
<SCRIPT language=JavaScript>
<!--
function AddDomain() {
	var t=Math.random() * 100000000;
	document.login.action=document.login.action+"?token="+t;
  if(document.login.LoginName.value.indexOf("@") == -1)
        document.login.LoginName.value = document.login.LoginName.value + "@" + document.login.domain.options[document.login.domain.selectedIndex].value;
}
//-->
</SCRIPT>
{/literal}
	    <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="106" valign="top" bgcolor="#13420D"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                		<form id="form1" name="form1" method="post" action="http://st.zju.edu.cn/cgi-bin/login">
				<tr>
		
                  <td width="84" height="2" valign="middle" bgcolor="#D9D9DB"> [校网邮箱]</td>
                  <td width="145" height="2" align="center" valign="middle" bgcolor="#D9D9DB"> 
                    <label>用户名
                      <input name="LoginName" type="text" size="10" />
                    </label>
                  </td>
                  <td width="14" height="2" valign="middle" bgcolor="#D9D9DB"> @</td>
                  <td width="126" height="2" valign="middle" bgcolor="#D9D9DB"> 
                    <label>
                    <select name="domain" id="domain">
                      <option value="st.zju.edu.cn" selected="selected">st.zju.edu.cn</option>
                      <option value="zju.edu.cn">zju.edu.cn</option>
                      <option value="fa.zju.edu.cn">fa.zju.edu.cn</option>
                    </select>
                    </label>
                  </td>
                  <td width="144" height="2" valign="middle" bgcolor="#D9D9DB">
                    <label>密码
                      <input name="Password" type="password" size="12" />
                    </label>
                  </td>
                  <td width="53" height="2" align="center" valign="middle" bgcolor="#D9D9DB">
                    <label>
                    <input type="submit" name="log_in" value="登陆" />
                    </label>
                  </td>
                </tr> </form> 
                <tr>
				
                  <td height="74" colspan="6" valign="middle" bgcolor="#D9D9DB"><table width="100%" border="00" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="middle" bgcolor="#D9D9DB"><p class="Blank">&nbsp;</p>
                          <p class="Blank"><a href="http://luckweb.8866.org/Soft/application/200701/6979.html">[列车时刻查询]</a>&nbsp;&nbsp;<a href="http://hangzhou.8684.cn/">[公交车查询]</a>&nbsp;&nbsp;<a href="http://www.zju.edu.cn/fwzn/zjutel/">[学校部门电话查询]</a>&nbsp;&nbsp;<a href="http://www.hao123.com/haoserver/showjicc.htm">[手机归属地]</a>&nbsp;&nbsp;<a href="http://210.32.137.12/ipac20/ipac.jsp?profile=#focus">[借还书]</a>&nbsp;&nbsp;<a href="http://10.11.31.60/wingsoft/index.jsp">[学费查询]</a></p>
                          <p><a href="www.qsc.zju.edu/thebbs">
                          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="566" height="74" title="bht">
                            <param name="movie" value="template/service/images/bht.swf" />
                            <param name="quality" value="high" />
                            <embed src="template/service/images/bht.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="566" height="74"></embed>
                          </object>
                        </a></p></td>
                      </tr>
                  </table></td>
              </tr>
            </table></td>
          </tr>
      </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #ddd">
          <tr>
            <td width="34" height="85" rowspan="3" valign="top" bgcolor="#13420D"><img src="template/service/images/xxzh.jpg" width="32" height="85" /></td>
            <td width="76" rowspan="3" valign="top" background="template/service/images/bg1.gif" ><img src="template/service/images/fwfw.gif" width="75" height="77" /></td>
            <td width="141" height="13" valign="middle" background="template/service/images/bg1.gif" >&nbsp;</td>
            <td width="107" valign="middle" background="template/service/images/bg1.gif" >&nbsp;</td>
            <td width="89" valign="middle" background="template/service/images/bg1.gif" >&nbsp;</td>
            <td width="119" valign="middle" background="template/service/images/bg1.gif" >&nbsp;</td>
          </tr>
          <tr>
            <td height="27" align="center" valign="middle" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43462">[教务流程]</a></td>
            <td height="27" align="center" valign="middle" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43464">[评奖评优]</a></td>
            <td height="27" align="center" valign="middle" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43465">[资助信息]</a></td>
            <td height="27" align="center" valign="middle" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43467">[勤工助学]</a></td>
          </tr>
          <tr>
            <td height="13" align="center" valign="top" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43461">[场地借用]</a></td>
            <td align="center" valign="top" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43463">[素质拓展]</a></td>
            <td align="center" valign="top" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43466">[对外交流]</a></td>
            <td align="center" valign="top" background="template/service/images/bg1.gif" ><a href="redir.php?catalog_id=43468">[其 &nbsp;&nbsp; 他]</a></td>
          </tr>
    </table>    </td>
    <td width="15" rowspan="2"></td>
    <td width="180" rowspan="2" valign="top"><p>{ include file=service/right.html}    </p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td height="334" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #ddd">
      <tr>
        <td width="32" height="334" valign="top" bgcolor="#13420D"><img src="template/service/images/wdsq.gif" width="32" height="334" /></td>
        <td width="531" valign="top" background="template/service/images/bg1.gif"><table width="100%" height="335" border="1" cellpadding="4" cellspacing="0" bordercolor="#DDDDDD">
            <tr>
              <td height="333"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                          <td width="91%" class="gheader">[表格下载]</td>
                        </tr>
                    </table></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                          <td width="91%" class="gheader">[失物招领]</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><div class="block block2">{article_list catalog_id=43471 count=7 cut=19 template=article_list_simple_ser.htm}</div></td>
                        </tr>
                        <tr>
                          <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                              <tr>
                                <td align="right"><a href="redir.php?catalog_id=43471"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><div class="block block2">{article_list catalog_id=101 count=7 cut=19 template=article_list_simple_ser.htm}</div></td>
                        </tr>
                        <tr>
                          <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                              <tr>
                                <td align="right"><a href="redir.php?catalog_id=101"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="50%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                            <td width="91%" class="gheader">[生活小TIPS]</td>
                          </tr>
                      </table></td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="9%"><img src="template/service/images/dot3.gif" width="32" height="32" /></td>
                            <td width="91%" class="gheader">[查询服务]</td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><div class="block block2">{article_list catalog_id=103 count=8 cut=19 template=article_list_simple_ser.htm}</div></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                                <tr>
                                  <td align="right"><a href="redir.php?catalog_id=103"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="top"><div class="block block2">{article_list catalog_id=104 count=8 cut=19 template=article_list_simple_ser.htm}</div></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
                                <tr>
                                  <td align="right"><a href="redir.php?catalog_id=104"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                  </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
{include file=footer.html} 
<map name="Map" id="Map"><area shape="rect" coords="-3,-4,126,93" href="redir.php?catalog_id=107" />
<area shape="rect" coords="135,92,260,192" href="redir.php?catalog_id=108" />
<area shape="rect" coords="260,91,406,190" href="redir.php?catalog_id=106" />
</map>
