<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<LINK href="../css/qsc.css" type=text/css rel=stylesheet>
<title>网络资源</title>
</head>
<body>
{head}
<table align=center border="0" cellpadding="0" cellspacing="0" width="778">
<!-- fwtable fwsrc="未命名" fwbase="网络资源.jpg" fwstyle="Dreamweaver" fwdocid = "938760731" fwnested="0" -->
  <tr>
   <td><img src="../images/spacer.gif" width="284" height="1" border="0" alt=""></td>
   <td><img src="../images/spacer.gif" width="93" height="1" border="0" alt=""></td>
   <td><img src="../images/spacer.gif" width="107" height="1" border="0" alt=""></td>
   <td><img src="../images/spacer.gif" width="271" height="1" border="0" alt=""></td>
   <td><img src="../images/spacer.gif" width="10" height="1" border="0" alt=""></td>
   <td><img src="../images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="5">&nbsp;</td>
   <td><img src="../images/spacer.gif" width="1" height="62" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="5"><table border="0" cellpadding="0" cellspacing="0" width="778">
<!-- fwtable fwsrc="未命名" fwbase="网络资源.jpg" fwstyle="Dreamweaver" fwdocid = "938760731" fwnested="0" -->
  <tr>
   <td><img src="images/spacer.gif" width="13" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="284" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="93" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="107" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="271" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="10" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="2"><img src="images/spacer.gif" width="13" height="125" border="0" alt=""></td>
   <td colspan="2"><img name="r2_c2" src="images/r2_c2.jpg" width="377" height="53" border="0" alt=""></td>
   <td colspan="2"><img name="r2_c4" src="images/r2_c4.jpg" width="378" height="53" border="0" alt=""></td>
   <td rowspan="2"><img src="images/spacer.gif" width="10" height="125" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="53" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="../qscres/"><img name="r3_c2" src="images/r3_c2.jpg" width="284" height="72" border="0" alt=""></a></td>
   <td colspan="2"><img name="r3_c3" src="images/r3_c3.jpg" width="200" height="72" border="0" alt=""></td>
   <td><a href="./"><img name="r3_c5" src="images/r3_c5.jpg" width="271" height="72" border="0" alt=""></a></td>
   <td><img src="images/spacer.gif" width="1" height="72" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="6"><img name="r4_c1" src="images/r4_c1.jpg" width="778" height="10" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="10" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="5"><p>&nbsp;</p>
   <table align="center" border="0" cellpadding="0" cellspacing="0" width="577">
<form name=loginmail action="mail.php" method=post>
  <tr>
   <td width="67"><img src="images/spacer.gif" width="56" height="1" border="0" alt=""></td>
   <td width="43"><img src="images/spacer.gif" width="35" height="1" border="0" alt=""></td>
   <td width="31"><img src="images/spacer.gif" width="31" height="1" border="0" alt=""></td>
   <td width="182"><img src="images/spacer.gif" width="39" height="1" border="0" alt=""></td>
   <td width="31"><img src="images/spacer.gif" width="31" height="1" border="0" alt=""></td>
   <td width="68"><img src="images/spacer.gif" width="68" height="1" border="0" alt=""></td>
   <td width="25"><img src="images/spacer.gif" width="25" height="1" border="0" alt=""></td>
   <td width="6"><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>

  <tr>
   <td colspan="4"><img name="mail_r1_c1" src="images/mail_r1_c1.jpg" width="312" height="18" border="0" alt=""></td>
   <td rowspan="5">&nbsp;</td>
   <td rowspan="4"><img name="mail_r1_c8" src="images/mail_r1_c8.jpg" width="68" height="58" border="0" alt=""></td>
   <td rowspan="7" valign="top"><img name="mail_r1_c9" src="images/mail_r1_c9.jpg" width="25" height="168" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="18" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="6" valign="top"><img name="mail_r2_c1" src="images/mail_r2_c1.jpg" width="56" height="150" border="0" alt=""></td>
   <td colspan="3">&nbsp;</td>
   <td><img src="images/spacer.gif" width="1" height="15" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="4"><img src="images/spacer.gif" width="35" height="135" border="0" alt=""></td>
   <td colspan="2" align="center"><img name="mail_r3_c3" src="images/mail_r3_c3.jpg" width="70" height="20" border="0" alt="">
     <select
tabIndex=2 size=1 name=site>
	<option value="" selected>请选择信箱</option>
	<option>@st.zju.edu.cn</option>
	<option>@126.com</option>
	<option>@sina.com</option>
	<option>@sohu.com</option>
	<option>@yahoo.com.cn</option>
	<option>@mail.china.com</option>
	<option>@etang.com</option>
	<option>@eyou.com</option>
	<option>@163.com</option>
	<option>@265.com</option>
	<option>@tom.com</option>
	<option>@chinaren.com</option>

	
	
<!--
<option value=@163.net>@163.net</option><option value=tom.com>@tom.com</option><option value=163.com>@163.com</option><option value=vip.163.com>@vip.163.com</option><option value=sohu.com>@sohu.com搜狐邮箱</option><option value=263.net>@263.net</option><option value=sina.com>@sina.com新浪</option><option value=vip.sina.com>@vip.sina.com新浪VIP</option><option value=mail.china.com>@mail.china.com</option><option value=china.com>@china.com</option><option value=netease.com>@netease.com</option><option value=yeah.net>@yeah.net</option><option value=etang.com>@etang.com亿唐</option><option value=bliao.net>@bliao.net</option><option value=cn.yahoo.com>@yahoo.com.cn</option><option value=xinhuanet.com>@xinhuanet.com新华网</option><option value=126.com>@126.com网易</option><option value=eyou.com>@eyou.com亿邮</option><option value=email.com.cn>@email.com.cn</option><option value=ynmail.com>@ynmail.com云南</option><option value=citiz.net>@citiz.net上海热线</option><option value=elong.com>@elong.com e龙</option>
-->
</select></td>
   <td><img src="images/spacer.gif" width="1" height="20" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="2"><img src="images/spacer.gif" width="70" height="25" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="5" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="3">&nbsp;</td>
   <td><img src="images/spacer.gif" width="1" height="20" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="2">&nbsp;</td>
   <td height="56" align="center"><p><img name="mail_r6_c4" src="images/mail_r6_c4.jpg" width="39" height="15" border="0" alt="">
         <input name="user" type="text" size="10">
          &nbsp;<img name="mail_r6_c6" src="images/mail_r6_c6.jpg" width="31" height="15" border="0" alt="">
          <input name="pass" type="password" size="10">
   </p>
     <p>
       <input type="submit" name="login23" value="登陆" class='submit'>
&nbsp;&nbsp;
<input type="reset" name="login232" value="重填" class='submit'>
     </p></td>
   <td>&nbsp;</td>
   <td><img src="images/spacer.gif" width="1" height="15" border="0" alt=""></td>
  </tr>
  <tr>
   <td height="18" align="center">&nbsp;</td>
   <td align="center">&nbsp;</td>
   <td>&nbsp;</td>
  </tr>
</table>
   </form></td>
   <td><img src="../images/spacer.gif" width="1" height="62" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="6"><div align="center">联系我们<BR>
   </div></td>
   <td><img src="images/spacer.gif" width="1" height="57" border="0" alt=""></td>
  </tr>
</table></td>
   <td><img src="../images/spacer.gif" width="1" height="10" border="0" alt=""></td>
  </tr>
</table>
{tail}
