
<div class="block left">{ sub_catalog_list catalog_id=30}</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" align="center" background="template/service/images/right_bg.gif"><span class="wheader">通知公告</span></td>
  </tr>
  <tr>
    <td bgcolor="#DEDFDE"><marquee width="100%" height="100" direction="up" scrollamount="2" scrolldelay="1" onmouseover="this.stop()" onmouseout="this.start()">
      <table width="95%" align="center">
        <tr>
          <td>{customize_page catalog_id=42967 short_mode=1}</td>
        </tr>
      </table>
    </marquee></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" align="center" background="template/service/images/right_bg.gif" class="wheader">用户登录</td>
  </tr>
  <tr>
    <td background="template/service/images/right_bg.gif"><iframe width="100%" height="150" frameborder="0" src="/profile.php?cmd=login&simple=1&bgcolor=%23DEDFDE"></iframe></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#DEDFDE">
  <tr>
    <td height="25" align="center"><strong>FTP搜索</strong></td>
  </tr>
  <tr>
    <td><form action='/cgi-bin/parker/search' id='s' name='f'>
      <table>
        <tr>
          <td>关键字:<input type="hidden" name="SearchType" value="substring"/></td>
          <td><input type='text' name='String' size='15' id='q' /></td>
        </tr>
        <tr>
          <td> 不包含:</td>
          <td><input type='text' name='Not' size='15' id='n' />          </td>
        </tr>
        <tr>
          <td> 扩展名:</td>
          <td><input type='text' name='Ext' size='15' id='e' />          </td>
        </tr>
        <tr>
          <td>大小写:</td>
          <td><select name='Case'>
              <option value="incase">不区分 </option>
            <option value="case">区分 </option>
          </select></td>
        </tr>
        <tr>
          <td> 结果数 :</td>
          <td><select name='Hits'>
              <option value='100'>100个 </option>
            <option value='200'>200个 </option>
            <option value='500'>500个 </option>
          </select></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type='submit' name='Submit' value='  查找  ' /></td>
        </tr>
      </table>
    </form></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" align="center" background="template/service/images/right_bg.gif" class="wheader">网址黄页</td>
  </tr>
  <tr>
    <td background="template/service/images/right_bg.gif"><div class="white">{customize_page catalog_id=39702 short_mode=1} </div></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#DEDFDE">
  <tr>
    <td height="25" align="center"><strong>投稿</strong></td>
  </tr>
  <tr>
    <td><div align="center"><a href="redir.php?catalog_id=44055"><img src="template/service/images/ser_tg.gif" width="160" height="93" border="0" /></a></div></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#DEDFDE">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

