<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>serv</title>
<link href="template/service/style1.css" rel="stylesheet" type="text/css">
</head>


<body>
<div id="title">
  <A href=""><img src="template/service/images/logo.jpg" border="0"/></A>
  <ol>
    <li><a href="redir.php?catalog_id=3" >资讯网</a></li>
              <li>|</li>
    <li><a href="redir.php?catalog_id=2">教育网</a></li>
              <li>|</li>
    <li><a href="redir.php?catalog_id=30">服务网</a></li>
              <li>|</li>
    <li><a href="redir.php?catalog_id=31">休闲网</a></li>
              <li>|</li>
    <li><a href="redir.php?catalog_id=32">网视网</a></li>
  </ol>
</div>
       
      <div id="guide">
        	<div align="left"><br/>
        	        <ol>	
        	          				<li><a 

href="redir.php?catalog_id=54326&object_id=54327">网络资源
        	          				  
      	          				    </a></li>
        	          				<li>
      	                  	      <a href="redir.php?

catalog_id=91">校园信息</a></li>
        	                      <li>
      	                                    <a href="redir.php?

catalog_id=43458">信息总汇</a></li>
        	                      <li>
      	                                    <a href="http://10.76.8.3/ask/">问答堂</a></li>
        	                      <li>
      	                                    <a href="redir.php?

catalog_id=54402">专题</a></li>
        	                      <li>
      	                                    <a href="redir.php?

catalog_id=101">失物招领</a></li>
        	                      <li>
      	                                    <a 

href="http://zhedashop.zju.edu.cn/html/c2c/0mf50314.html">紫金购物</a></li>
              </ol>
        	  
            </div>
</div>

<div id="contal">
  <img src="template/service/images/ser-ban copy.jpg" id="cap-top"/>
  

<div id="middcont">
  
  <div id="cont1"> 
   	
    <div id="school">
    	<div id="tit">
     		<div align="left"><div id="inner">校园信息</div></div>
    	</div> 
   
     <div>
  		<div id="picli"> 
   		 <ol> 
    		<li><a href=""><img src="template/service/images/button1.gif" border="o"/></a></li>
    		<li><a href=""><img src="template/service/images/button2.gif" border="o"/></a></li>
    		<li><a href=""><img src="template/service/images/button3.gif" border="o"/></a></li>
   		 </ol>
	  	</div>
   	   <div id="article"> {article_list catalog_id=92 count=15 tcut=40 template=service/article_list1.htm}</div>
     </div>
   </div>
  
  	<div id="ask">
      	<div id="tit2">
     		<div align="left"><div id="inner2">问答堂</div></div>
    	</div>
      <div id="article2"><ul>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=84" target="_blank">四级和六级可以一起考吗?好象有人这样做了</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=5">学习教育</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=83" target="_blank">学业优秀奖学金怎么获得？</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=5">学习教育</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=82" target="_blank">保研需要什么条件？</A>??[<A href="browse.php?sortid=5">学习教育</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=81" target="_blank">我想买浙大110周年的文化衫。。请问哪里可以买到？？</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=8">其他</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=80" target="_blank">怎么进人力管理系统?</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=6">生活服务</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=79" target="_blank">为什么问答堂回答时没有可以选择的表情?</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=7">电脑网络</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=78" target="_blank">在紫金港遗失钱包后，可以到哪些认领处找找看？</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=6">生活服务</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=73" target="_blank">求是潮07军训的视频都在哪里</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=8">其他</A>] </LI>
  <LI><A href="http://10.76.8.3/ask/question.php?qid=69" target="_blank">怎么借风雨操场的篮球场?</A>??[<A href="http://10.76.8.3/ask/browse.php?sortid=6">生活服务</A>] </LI>
</ul>
  </div>
    </div> 
  
  	<div id="view">
		<div id="tit3">
     		<div align="left"><div id="inner3">专题</div></div>
        </div> 
   	 <div id="article3">{article_list catalog_id=54403,54404,54405 count=5 picture_only=1 template=article_list_sina.html width=200 height=150 tcut=34}
	</div>
	<div id="article31">{article_list catalog_id=54403,54404,54405 count=10 picture_only=1 template=service/article_list1.htm width=220 height=180 tcut=34}</div>
    </div>
  
  </div>
 
 
  <div id="cont2"> 
 	
    	<div id="lost">
  			<div id="tit4">
    			<div align="left"><div id="inner4">失物招领</div></div>
             </div>
    	  <div id="article4"> {article_list catalog_id=101 count=15 cut=38 template=service/article_list1.htm}</div>
    	</div>
   
     	<div id="handin">
        	<div id="tit5">
             	<div align="left"><div id="inner5">投稿</div></div>
          </div>
          <div id="word">发布失物招领或通告，请联系我们</div>
          <div id="piclin">
            <div id="picin"><a href=""><img src="template/service/images/ser_tg.gif" border="0"/></a></div>
          </div>
        </div>

		<div id="link"> 
  			<div id="tit6">
    			<div align="left"><div id="inner6">黄页</div></div>
             </div>
    	   <div id="article5">{customize_page catalog_id=39702 short_mode=1}</div>
    	</div>
    
  </div>
 
 </div>
 </div>

<img src="template/service/images/resor-copy_08.jpg" id="cap-bottom"/> </div>
  



<div id="bottom">
  <div id="text"> 
   <div align="left">
     <ol>
       <li><a href="redir.php?catalog_id=46325&object_id=46326">关于本站</a></li>
       <li>|</li>
       <li><a href="mailto:xgb@zju.edu.cn">联系方式</a></li>
       <li>|</li>
       <li><a href="profile.php?cmd=member_add">注册用户</a></li>
       <li>|</li>
       <li><a href="#">招贤纳士</a></li>
       <li>|</li>
       <li><a href="redir.php?catalog_id=46325&object_id=46342">合作服务</a></li>
       <li>|</li>
       <li><a href="redir.php?catalog_id=46345">意见反馈</a></li>
       <li>|</li>
       <li><a href="index.php?cmd=stat">日常统计</a></li>
      </ol>
   </div>
   <p align="left" id="p1">版权所有 求是潮网站 浙江大学党委学生工作部 2003-2006</p>
   <p align="left" id="p2"><a href="http://www.miibeian.gov.cn/">浙ICP备05074421号</a> 

Copyright  2000-2006 设计制作:求是潮技术研发中心 <a href="http://www.cgsoft.com.cn/">CGSOFT  

</a></p>
  </div>   
  
  <div id="logo2">
     <img src="template/service/images/service-copy_53.gif" />
  </div>
</div>
  



</body>
</html>
