
{include file=service/header.html} 
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="337" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="117" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" height="136" align="center" valign="middle"><table width="100%" height="145" border="1" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC">
              <tr>
                <td height="108">{article_list catalog_id=54403,54404,54405 count=5 picture_only=1 template=article_list_sina.html width=220 height=180 tcut=34} </td>
              </tr>
            </table></td>
            <td width="57%" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td height="133">{customize_page catalog_id=54425 short_mode=1}</td>
              </tr>
            </table>
              <p></p></td>
          </tr>
          <tr>
            <td height="111" colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="40%" height="182" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="32"><img src="template/service/images/xx.jpg" width="241" height="32" /></td>
                    </tr>
                    <tr>
                      <td height="63" background="template/service/images/bg.jpg"><table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC">
                        <tr>
                          <td>{article_list picture_only=1 count=1 catalog_id=54422 template=service/pictitle.html} </td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="13"><img src="template/service/images/sh.jpg" width="241" height="32" /></td>
                    </tr>
                    <tr>
                      <td height="57" background="template/service/images/bg.jpg"><table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC">
                        <tr>
                          <td>{article_list picture_only=1 count=1 catalog_id=54423 template=service/pictitle.html} </td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="13"><img src="template/service/images/yl.jpg" width="241" height="32" /></td>
                    </tr>
                    <tr>
                      <td height="62" background="template/service/images/bg.jpg"><table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC">
                        <tr>
                          <td>{article_list picture_only=1 count=1 catalog_id=54424 template=service/pictitle.html}</td>
                        </tr>
                      </table></td>
                    </tr>
                </table></td>
                <td width="60%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="200" valign="top"><img src="template/service/images/xhwy.jpg" width="303" height="37" /><span class="block block2">{article_list  count=8 tcut=40 catalog_id=54403 template=article_list1.htm}</span></td>
                    </tr>
                    <tr>
                      <td height="16" align="right" valign="bottom"><a href="redir.php?catalog_id=54403"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                    </tr>
                    
                    <tr>
                      <td height="13"><img src="template/service/images/shdd.jpg" width="303" height="37" /></td>
                    </tr>
                    <tr>
                      <td height="180" valign="top"><span class="block block2">{article_list catalog_id=54404 count=8 tcut=40 template=article_list1.htm}</span></td>
                    </tr>
                    <tr>
                      <td height="17" align="right" valign="bottom"><a href="redir.php?catalog_id=54404"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td height="13"><img src="template/service/images/xxsk.jpg" width="303" height="37" /></td>
                    </tr>
                    <tr>
                      <td height="200" valign="top"><span class="block block2">{article_list catalog_id=54405 count=8 tcut=40 template=article_list1.htm}</span></td>
                    </tr>
                    <tr>
                      <td height="16" align="right" valign="bottom"><a href="redir.php?catalog_id=54405"><img src="template/images/edu/more.png" width="31" height="13" border="0" /></a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
              </td>
          </tr>
        </table></td>
        </tr>
    </table></td>
    <td width="15" valign="top">&nbsp;</td>
    <td width="180" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{ include file=service/right.html}</td>
      </tr>
    </table></td>
  </tr>
</table>
{include file=footer.html}  
</body>
</html>
