<div class="block">
  <h1>关于网站</h1>
<ul>
  <li><a href="redir.php?catalog_id=46325&object_id=46326">关于网站</a></li>
  <li><a href="redir.php?catalog_id=46325&object_id=46344">网站荣誉</a></li>
  <li><a href="redir.php?catalog_id=46325&object_id=46340">领导题词</a></li>
  <li><a href="redir.php?catalog_id=46325&object_id=46341">大 事 记</a></li>
  <li>招贤纳士</li>
  <li><a href="redir.php?catalog_id=46325&object_id=46342">合作服务</a></li>
  <li>网站统计</li>
  <li><a href="redir.php?catalog_id=46345">意见反馈</a></li>
</ul></div>
