
<html>
<head>
{ literal }
<style type="text/css">
* {
	font-size: 12px;
	font-family: 宋体;
}
body {
	background-color: #EBE9ED;
	overflow: hidden;
}
</style>
{ /literal }
<link rel="stylesheet" href="{$cfg.xtree_url}/css/xtree2.css"/>
<script type="text/javascript" src="{$cfg.xtree_url}/js/xtree2.js"></script>
<script type="text/javascript" src="{$cfg.xtree_url}/js/xmlextras.js"></script>
<script type="text/javascript" src="{$cfg.xtree_url}/js/xloadtree2.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<title>选择栏目</title>
<base target="_self"/>
</head>

<body>
<div style='width: 280px; height: 300px; overflow: auto;margin: 2px;background-color: #fff;border: 1px solid #ccc;padding: 3px;'>
<script type="text/javascript">
var choose_type = {$type};
{ literal }
function pick(id, type)
{
	if (type == choose_type)
	{
		document.forms[0].id.value = id;
		document.forms[0].btnok.disabled = 0;
	}
	else
		document.forms[0].btnok.disabled = 1;
}
{/literal}
 webFXTreeConfig = {literal}{{/literal}
	rootIcon        : "{$cfg.xtree_url}/images/folder.png",
	openRootIcon    : "{$cfg.xtree_url}/images/openfolder.png",
	folderIcon      : "{$cfg.xtree_url}/images/folder.png",
	openFolderIcon  : "{$cfg.xtree_url}/images/openfolder.png",
	fileIcon        : "{$cfg.xtree_url}/images/file.png",
	iIcon           : "{$cfg.xtree_url}/images/I.png",
	lIcon           : "{$cfg.xtree_url}/images/L.png",
	lMinusIcon      : "{$cfg.xtree_url}/images/Lminus.png",
	lPlusIcon       : "{$cfg.xtree_url}/images/Lplus.png",
	tIcon           : "{$cfg.xtree_url}/images/T.png",
	tMinusIcon      : "{$cfg.xtree_url}/images/Tminus.png",
	tPlusIcon       : "{$cfg.xtree_url}/images/Tplus.png",
	plusIcon        : "{$cfg.xtree_url}/images/plus.png",
	minusIcon       : "{$cfg.xtree_url}/images/minus.png",
	blankIcon       : "{$cfg.xtree_url}/images/blank.png",
	defaultText     : "载入子栏目…",
	defaultAction   : null,
	defaultBehavior : "explorer",
	usePersistence	: true
{literal}};{/literal}
  
var theme_dir = "share/themes/<?php print $THEME;?>";
{literal}
function theme_file(file)
{
  return theme_dir + "/" + file;
}
{/literal}
var tree = new WebFXLoadTree('WESCMS', '../tree.php?pcatalog=0&mode=pick', 'explorer', theme_file("icons/home.gif"));
tree.write();
tree.expand();
</script>
</div>
<form style='margin: 0px; padding: 0px; text-align: center;'>
<input type="hidden" name="id" value=""/>
<input type="button" name="btnok" value="确定" disabled onclick="window.returnValue=this.form.id.value;window.close()"/><input type="button" value="取消" onclick="window.close()"/>
</form>
</body>
</html>