{ include file="news/header.html" }
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="180" bgcolor="#CED7E7"><table width="96%" border="0" cellpadding="8" cellspacing="2">
      <tr>
        <td align="center"><br /></td>
      </tr>
      <tr>
        <td><p><strong>作品征集细则</strong><strong>：</strong>本次是新闻摄影大赛，作品范围是与浙大或浙大学生相关的各种活动或人物的图片，照片拍摄时间不限，个人参赛作品数目不限。 <br />
参赛作品分四大类： <br />
<strong>新闻特写类</strong>（以新闻现场的图片为主，其他与新闻事件相关的图片） <br />
<strong>新闻人物类</strong>（以人物特写为主，这些人物须是与新闻事件有联系的） <br />
<strong>文艺体育类</strong>（文艺表演或体育运动比赛中，现场图片和特写图片） <br />
<strong>日常生活类</strong>（表现同学在日常生活中点滴的记录或幽默图片） </p>
          <p><strong>作品上传说明</strong><strong>：</strong>请在“栏目”里选择“摄影大赛投稿”，在&quot;作者&quot;栏写上您的姓名，在&quot;标题&quot;栏写上作品的名称，在&quot;来源&quot;栏写上您的院系专业和联系号码，在正文框里，写上作品的类别和图片说明（简述图片记录的活动内容），然后点击“插入／编辑图象<img width="19" height="19" src="template/news/contrib1_clip_image001.jpg" />”，浏览服务器，上传， 最后按&quot;发送&quot;上交您的作品。 所有摄影作品统一以jpg文件格式提交，文件不大于500K，所有作品都必须保留大分辨率的原始文件，作品一旦获奖，需作者提供原始文件以供展览用。 </p>
          <p><strong>作品展示</strong><strong>：</strong><strong>参赛作品经审核后会发布在</strong>“摄影大赛发布页”，比赛结束后在前台长期保留摄影比赛专版，优秀作品印成照片以展板形式在校园展示。 </p>
          <p><strong>作品评选：</strong>将邀请校内专业摄影人士及传媒学院新闻系相关教授共同组成评审团，进行最终评定。每个类别均设置金奖、银奖、铜奖若干，另设单项奖若干，如最佳光影奖，最震撼人心奖，最幽默搞笑奖等。评奖结果于12月10日公布于求是潮网站摄影大赛专版，并通过电话通知获奖人员，现场颁奖将在记者节闭幕式上进行<br />
              <br />
              <strong>奖品设置：</strong><strong><br />
              </strong>金奖:第二课堂加分1.5分,相关奖品； <br />
            银奖:第二课堂加分1.0分,相关奖品； <br />
            铜奖:第二课堂加分0.5分,相关奖品；<br />
            各单项奖:第二课堂加分0.5分； </p>
          <p><strong>比赛细则：</strong><br />
            1、作品要求原创、真实，内容符合并充分体现新闻摄影要求，经过photoshop等软件处理的请如实说明。 <br />
            2、作品照片通过上传系统传至浙江大学首届记者节新闻摄影大赛专版页面，格式统一为JPEG，单个图片大小不低于150KB，不超过500K，标题自拟，附图片说明（简述图片记录的活动内容）。 <br />
            3、请作者自留原稿，后期评选后将进行优秀作品展示，需要原稿。 <br />
            4、所有浙大学生可参加，个人参赛作品数目不限。 </p>
          </td>
      </tr>
    </table>
      <table width="96%" border="0" cellpadding="8" cellspacing="2">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    <br /></td>
    <td valign="top"><iframe width="580" height="700" frameborder="0" src="/wescms/contrib.php?cmd=add&catalog=47658"></iframe></td>
  </tr>
</table>
{ include file="footer.html" }
