{ include file="news/header.html" }
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="180" bgcolor="#CED7E7"><table width="96%" border="0" cellpadding="8" cellspacing="2">
      <tr>
        <td align="center"><br /></td>
      </tr>
      <tr>
        <td><p><strong>对象：</strong>本次征文面向全体在校学生，以学生记者及对新闻工作感兴趣的同学为主。</p>
          <p><strong>要求：</strong>(1)作品必须为作者原创作品；<br />
            (2)作品必须未参加任何同类赛事;</p>
          <p><strong>内容：</strong>讲述记者自己的故事，或就浙大校园内值得深思和探讨的诸多现象、细节问题（如自习室占位等）写新闻评论。 </p>
          <p><strong>投稿：</strong>请一律用电子稿形式，投至求是潮新闻网首页及征文专用页面投稿系统（请注意选择“征文”项），来稿时请附上您的姓名、专业、学号和联系方式，以便我们与您联系。</p>
          <p><strong>截止日期：</strong>即日起至2006年12月15日</p>
          <p><strong>评奖：</strong>我们将评出一等奖、二等奖、三等奖以及优秀奖若干名。<br />
            所有作品将在征文比赛专用网页登载。 <br />
            获奖名单将于12月20日起在求是潮网站上公布。</p>
          <p><strong>其他说明 </strong><br />
            （1）每位参赛者的作品投稿后即被视为已明确求是潮网站拥有其作品的使用权，可将作品用于展览、展示、出版等各种场合，不再另付稿酬。 <br />
            （2）所有参赛作品若发生侵犯他人著作权、肖像权、名誉权等行为及由此产生的一切法律纠纷均由作者自行承担责任。</p></td>
      </tr>
    </table>
      <table width="96%" border="0" cellpadding="8" cellspacing="2">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    <br /></td>
    <td valign="top"><iframe width="580" height="700" frameborder="0" src="/wescms/contrib.php?cmd=add&catalog=50268"></iframe></td>
  </tr>
</table>
{ include file="footer.html" }
