<img src="template/spacer.gif" height="1" width="180"/>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="3c6084" class="css"><img src="template/news/images/dot2.gif" width="15" height="9" />国内</td>
  </tr>
  <tr>
    <td bgcolor="98b1c5"><span class="block">{article_list catalog_id=19 count=5 cut=50 template=article_list_simple.htm} </span></td>
  </tr>
</table><table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="3c6084" class="css"><img src="template/news/images/dot2.gif" width="15" height="9" />国际</td>
  </tr>
  <tr>
    <td bgcolor="98b1c5"><span class="block">{article_list catalog_id=18 count=5 cut=50 template=article_list_simple.htm} </span></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="3c6084" class="css"><img src="template/news/images/dot2.gif" width="15" height="9" />观点</td>
  </tr>
  <tr>
    <td bgcolor="98b1c5"><span class="block">{article_list catalog_id=22,23,24,25,26 count=5 cut=50 template=article_list_simple.htm} </span></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="3c6084" class="css"><img src="template/news/images/dot2.gif" width="15" height="9" />新闻月刊</td>
  </tr>
  <tr>
    <td bgcolor="98b1c5"><span class="block">{article_list catalog_id=29 count=5 cut=50 template=article_list_simple.htm} </span></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="3c6084" class="css"><img src="template/news/images/dot2.gif" width="15" height="9" />新闻链接</td>
  </tr>
  <tr>
    <td bgcolor="98b1c5"><span class="block">{link_list catalog_id=42970 count=10 cut=50} </span></td>
  </tr>
</table>
