<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="122"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="69adff">
      <tr>
        <td height="14"><img src="template/news/images/news_gn.gif" width="99" height="21" /></td>
      </tr>
      <tr>
        <td height="148" align="left" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="2" bgcolor="#e2f2ff">
          <tr>
            <td>{article_list picture_only=1 count=1 catalog_id=19 template=news/pictitle1.html}</td>
          </tr>
          <tr>
            <td><span class="block">{article_list catalog_id=19 count=10 template=article_list_new1.htm} </span></td>
          </tr>
        </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="right" bgcolor="#e2f2ff"><a href="redir.php?catalog_id=19"><img src="images/edu/more.png" width="31" height="13" border="0" /></a><a href="redir.php?catalog_id=18"></a></td>
                </tr>
            </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="16">&nbsp;</td>
  </tr>
  <tr>
    <td height="16"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="69adff">
      <tr>
        <td height="14"><img src="template/news/images/news_gj.gif" width="99" height="24" /></td>
      </tr>
      <tr>
        <td height="148" align="left" valign="top"><table width="100%" border="0" cellpadding="2" cellspacing="2" bgcolor="#e2f2ff">
            <tr>
              <td>{article_list picture_only=1 count=1 catalog_id=18 template=news/pictitle1.html}</td>
            </tr>
            <tr>
              <td><span class="block">{article_list catalog_id=18 count=5 template=article_list_new1.htm} </span></td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right" bgcolor="#e2f2ff"><a href="redir.php?catalog_id=18"><img src="images/edu/more.png" width="31" height="13" border="0" /></a></td>
              </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td height="13">&nbsp;</td>
  </tr>

  <tr>
    <td height="82"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="69adff">
      <tr>
        <td height="14"><img src="template/news/images/news_xwlj.gif" width="186" height="21" /></td>
      </tr>
      <tr>
        <td height="40" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td bgcolor="#e2f2ff"><span class="block">{link_list catalog_id=42970 count=20} </span></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right" bgcolor="#e2f2ff"><a href="redir.php?catalog_id=19"></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="16">&nbsp;</td>
  </tr>
  <tr>
    <td height="114"><a href="http://10.76.8.2redir.php?catalog_id=43212"><img src="template/news/images/head-tg.gif" width="186" height="132" border="0" /></a></td>
  </tr>
</table>
<p>&nbsp;</p>
