 { include file="news/header.html" }
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="180" valign="top" bgcolor="#C9D7E4"><table width="96%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center"><br />
            <img src="template/news/images/btn_words.gif" width="165" height="26" /></td>
      </tr>
      <tr>
        <td>{customize_page catalog_id=43104 short_mode=1} </td>
      </tr>
    </table>
      <table width="96%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center"><br />
              <img src="template/news/images/btn_contact.gif" width="165" height="26" /></td>
        </tr>
        <tr>
          <td>{customize_page catalog_id=42988 short_mode=1} </td>
        </tr>
      </table>
      <table width="96%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center"><br />
              <img src="template/news/images/btn_link.gif" width="165" height="26" /></td>
        </tr>
        <tr>
          <td><span class="block">{link_list catalog_id=42970 count=10 cut=48} </span></td>
        </tr>
      </table>
    </td>
    <td valign="top">{if not $smarty.request.id}{ subject_detail id=$smarty.request.object_id assign=subject}
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
            <tr>
              <td bgcolor="c9d7e4" class="deepblue"><img src="template/news/images/dot1.gif" width="15" height="11" />&nbsp;{$subject.title}</td>
            </tr>
            <tr>
              <td>{$subject.intro}</td>
            </tr>
          </table>
            {foreach from=$subject_catalogs item=sub_catalog}
            <table width="100%" border="0" cellpadding="3" cellspacing="3">
              <tr>
                <td><strong style="color:#326f93;padding-left: 15px">{$sub_catalog}
                </strong>
                <hr size="1" color="#326f93"/></td>
              </tr>
              <tr>
                <td>{subject_article_list sub_catalog=$sub_catalog count=70 hide_more=1 cut=56 id=$subject.id template=news/sal.html}</td>
              </tr>
            </table>
          {/foreach}</td>
          <td width="130" valign="top" bgcolor="#F0F0F0"><table width="100%" border="0" cellspacing="2" cellpadding="3">
              <tr>
                <td align="center">{subject_article_list id=$subject.id catalog_id=$catalog.id count=3 picture_only=1 template=news/sal_p.html width=120 height=160 cut=40} </td>
              </tr>
            </table></td>
        </tr>
      </table>    
      {else}{subject_article_detail id=$smarty.request.id template=news/sa_detail.html}{/if} </td>
  </tr>
</table>
{ include file="footer.html" }
<div class="block browse">
  <div class="article_browse"></div>
</div>
