<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
</head>

<body>
<p><img src="template/edu/images/dot1.gif" width="3" height="5" />&nbsp;<span class="highlight">[<a href="redir.php?catalog_id={$article.catalog}" target="_blank">{$article.catalog_name}</a>]</span>&nbsp;&nbsp;<a href="redir.php?catalog_id={$article.catalog}&amp;object_id={$article.id}" target="_blank">{$article.heading}</a></p>
<br>
</body>
</html>
