<table width="100%" cellspacing="2"><tr><td>
	{ foreach from=$articles item=article }
	
	
	
	
	
<table width="100%" cellspacing="0"><tr>	
	
	
	<td align="center" valign="top"><a href="{if $article.link}{$article.link}{else}redir.php?catalog_id={$article.catalog}&amp;object_id={$article.id}{/if}" target="_blank" { if $article.highlight }class="highlight"{ /if }>
	  <table width="100%" border="1" cellpadding="6" cellspacing="0" bordercolor="#EAEAEA">
        <tr>
          <td><div align="center"><img src="file.php?cmd=preview&amp;id={$article.picture_id}" width="90" height="120" border="0"/></div></td>
        </tr>
      </table>
    {$article.heading|cut:10}</a></td>
	<td>
	{$article.summary|cut:100}
	
	</td>
	
	
	</tr>
	
	
	</table>
	
	
	
	
	{ /foreach }<td>
</tr></table>