<html>
<head>
<title>求是潮</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="template/home/css.css" rel="stylesheet" type="text/css">
<link href="template/edu/style.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" >

<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="19" align="right" valign="top"><table width="20" height="550" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td background="template/home/images/shadow1.gif">&nbsp;</td>
      </tr>
    </table></td>
    <td width="760" valign="top"><div align="center">
        <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td><div align="center">
              <div align="center">
                <table width="760" border="0" align="center" cellpadding="2" cellspacing="0" bordercolor="#000000">
                  <tr>
                    <td bgcolor="#000000" class="css">滚动新闻:</td>
                  </tr>
                </table>
              </div>
            </div></td>
          </tr><tr>
            <td><div align="center"><img src="template/home/images/index_06.gif" width="760" height="170" alt=""></div></td>
          </tr><tr>
            <td>
      <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td bgcolor="#000000"><img src="images/spacer.gif" width="1" height="2"></td>
        </tr>
      </table></td>
          </tr>
          <tr>
            <td><div align="center">
              <table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><a href="redir.php?catalog_id=3"><img src="template/home/images/index_01.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=2"><img src="template/home/images/index_02.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=30"><img src="template/home/images/index_03.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=31"><img src="template/home/images/index_04.gif" alt="" width="152" height="30" border="0"></a></td>
                  <td><a href="redir.php?catalog_id=32"><img src="template/home/images/index_05.gif" alt="" width="152" height="30" border="0"></a></td>
                </tr>
              </table>
            </div></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><br>
                  <table width="90%" border="0" align="center" cellpadding="5" cellspacing="5">
                  <tr>
                    <td colspan="2" align="center"><strong>访问统计{flow_counter counter_id=1 display_status=1 assign=counter} </strong></td>
                  </tr>
                  <tr>
                    <td width="100" bgcolor="#f0f0f0">总访问量：</td>
                    <td bgcolor="#f0f0f0">{$counter.visit_count}（自2006－12－25）</td>
                  </tr>
                  <tr>
                    <td bgcolor="#f0f0f0">本日Page View：</td>
                    <td width="400" bgcolor="#f0f0f0">{$counter.pv}</td>
                  </tr>
                  <tr>
                    <td bgcolor="#f0f0f0">本日访问人次：</td>
                    <td bgcolor="#f0f0f0">{$counter.counter}</td>
                  </tr>
                  <tr>
                    <td bgcolor="#f0f0f0">当前在线人数：</td>
                    <td bgcolor="#f0f0f0">{$counter.online}</td>
                  </tr>
                </table></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="template/home/images/banner.png" width="760" height="100"></td>
          </tr>
          <tr>
            <td>{include file=footer.html} </td>
          </tr>
        </table>
    </div></td>
    <td width="21" align="left" valign="top"><table width="20" height="550" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td background="template/home/images/shadow.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>

</body>
</html>