<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=gb2312"/>
<title>资讯网__求是潮</title>
<link href="template/news/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
{sub_catalog_list catalog_id=3 assign=catalogs}
{ literal }<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
{ /literal }
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('template/ban/images/ban1_03.gif','template/ban/images/ban1_05.gif','template/ban/images/ban1_07.gif','template/ban/images/ban1_09.gif','template/ban/images/ban1_11.gif')">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table id="Table_01" width="760" height="30" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="http://www.qsc.zju.edu.cn"><img src="template/ban/images/ban_01.gif" alt="" width="160" height="30" border="0" /></a></td>
        <td><img src="template/ban/images/ban_02.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=3"><img src="template/ban/images/ban_03.gif" alt="" width="64" height="30" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','template/ban/images/ban1_03.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_04.gif" width="52" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=2"><img src="template/ban/images/ban_05.gif" alt="" width="58" height="30" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','template/ban/images/ban1_05.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_06.gif" width="54" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=30"><img src="template/ban/images/ban_07.gif" alt="" width="63" height="30" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','template/ban/images/ban1_07.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_08.gif" width="47" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=31"><img src="template/ban/images/ban_09.gif" alt="" width="61" height="30" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','template/ban/images/ban1_09.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_10.gif" width="45" height="30" alt="" /></td>
        <td><a href="redir.php?catalog_id=32"><img src="template/ban/images/ban_11.gif" alt="" width="61" height="30" border="0" id="Image5" onMouseOver="MM_swapImage('Image5','','template/ban/images/ban1_11.gif',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="template/ban/images/ban_12.gif" width="48" height="30" alt="" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="7"><img src="banner.jpg" width="760" height="154" border="0" usemap="#Map"></td>
  </tr>

  <tr>
    <td width="33" height="29" background="template/news/images/head_03.jpg"><img src="template/news/images/head_sea_01.gif" width="33" height="31"></td>
    <td width="110" background="template/news/images/head_03.jpg"><strong>{$smarty.now|date_format:'%Y年%m月%d日'}</strong></td>
    <td width="182" background="template/news/images/head_03.jpg"><img src="template/news/images/head_sea_03.gif" width="182" height="31"></td>
    <td width="45" background="template/news/images/head_03.jpg"><div align="center"><span class="style1"><strong>搜索</strong>：</span></div></td>
    <form name="form1" method="get" action="search.php">
	 <td width="211" background="template/news/images/head_03.jpg" align="left" class="css style1"><span class="css">
            <input name="keywords" type="text" id="keywords" size="30" />
    </span></td>
	
	
    <td width="76" background="template/news/images/head_03.jpg"><label>
            <select name="area">
              <option value="3">资讯网</option>
              <option value="2">教育网</option>
              <option value="30">服务网</option>
              <option value="31">休闲网</option>
              <option value="32">网视网</option>
            </select>
            <input name="postflag" type="hidden" id="postflag" value="1">
          </label></td>
    <td width="102" background="template/news/images/head_03.jpg"><label>
            <input type="submit" class="icon" value="搜 索" />
          </label></td>
    </form>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="1,133,66,154" href="redir.php?catalog_id=3">
  <area shape="rect" coords="66,134,158,153" href="redir.php?catalog_id=12">
  <area shape="rect" coords="158,135,257,153" href="redir.php?catalog_id=15">
  <area shape="rect" coords="257,134,351,153" href="redir.php?catalog_id=16">
  <area shape="rect" coords="350,135,445,154" href="redir.php?catalog_id=4">
  <area shape="rect" coords="444,134,510,156" href="redir.php?catalog_id=27"><area shape="rect" coords="510,135,577,151" href="redir.php?catalog_id=21">
  <area shape="rect" coords="577,133,639,154" href="redir.php?catalog_id=20">
  <area shape="rect" coords="639,134,696,154" href="redir.php?catalog_id=19">
  <area shape="rect" coords="695,132,756,152" href="#">
</map>