{ include file=member/header.html}
{ literal }
<script type="text/javascript" src="/wescms/lib/prototype-1.4.0.js"></script>
<script type="text/javascript" src='/wescms/lib/validator.js'></script>
<script type="text/javascript">
function ajax_checkcode(obj)
{
	var pars = 'cmd=checkcode&checkcode=' + $F(obj);
	var myAjax = new Ajax.Request('/profile.php', {parameters: pars, onComplete: checkcode_show});
}

function checkcode_show(request)
{
	try {
		var nb = Validator.GetNoticeBox($('checkcode'));
		
		if (!request.responseText)
		{
			nb.innerHTML = 'passport返回参数错误，请尝试刷新页面或联系管理员。';
			nb.className = "noticeError";
			nb.style.color = "red";
			user_status = false;
		}
		else if (request.responseText == 'true')
		{
			nb.innerHTML = '√';
			nb.className = 'noticeInfo';
			nb.style.color = 'green';
		}
		else
		{
			nb.innerHTML = '验证码输入错误';
			nb.className = 'noticeError';
			nb.style.color = 'red';
		}
	}
	catch (e)
	{
		alert(e.description);
	}
}
</script>
{/literal }
<div class="main">
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td width="210">{include file=member/left.html}</td>
<td><form method="post" class="user_login">
 请认真填写如下表单。<br />
  <br />{if $message }<font color="red">{$message}</font>{/if}
	<table align="center">
	<tr><td>
	<label>用户名:</label></td><td><strong>{$smarty.session.rc_user_info->username}</strong></td></tr>
	<td><label for="login_password">旧密码：</label></td><td><input name="old_pass" type="password" id="login_password" value="{$data.question}"/></td>
	</tr>
	<tr>
	  <td>新密码：</td>
	  <td><input name="newpass" type="password" id="newpass" value="" /></td>
	  </tr>
	<tr>
	  <td>确认新密码：</td>
	  <td><input name="newpass2" type="password" id="newpass2" value="" /></td>
	  </tr><tr>
	<td><label for="checkcode">验证码:</label></td><td><input type="text" name="checkcode" id="checkcode" onblur="ajax_checkcode(this)"/><img src="/wescms/checkcode.php?number={$checkcode}"/><span>{ error_message field="checkcode" }</span></td></tr>
	<tr><td colspan="2" align="center"><input type="submit" value=" 确认 "/><input type="hidden" name="cmd" value="change_password"/><input type="hidden" name="postflag" value="1"/>
	&nbsp;</td>
	</tr>
	</table>
</form>
</td>
</tr></table>
{ include file=footer.html}