{ include file=member/header.html}
{ literal }
<script type="text/javascript" src="/wescms/lib/prototype-1.4.0.js"></script>
<script type="text/javascript" src='/wescms/lib/validator.js'></script>
<script type="text/javascript">
function ajax_checkcode(obj)
{
	var pars = 'cmd=checkcode&checkcode=' + $F(obj);
	var myAjax = new Ajax.Request('/profile.php', {parameters: pars, onComplete: checkcode_show});
}

function checkcode_show(request)
{
	try {
		var nb = Validator.GetNoticeBox($('checkcode'));
		
		if (!request.responseText)
		{
			nb.innerHTML = 'passport返回参数错误，请尝试刷新页面或联系管理员。';
			nb.className = "noticeError";
			nb.style.color = "red";
			user_status = false;
		}
		else if (request.responseText == 'true')
		{
			nb.innerHTML = '√';
			nb.className = 'noticeInfo';
			nb.style.color = 'green';
		}
		else
		{
			nb.innerHTML = '验证码输入错误';
			nb.className = 'noticeError';
			nb.style.color = 'red';
		}
	}
	catch (e)
	{
		alert(e.description);
	}
}
</script>
{/literal }
<div class="main">
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td width="210">{include file=member/left.html}</td>
<td><form method="post" class="user_login">
 请认真填写如下表单。如果填写无误，系统会向你注册的邮箱中发送重设密码的邮件。  <br />
  <br />{if $message }<font color="red">{$message}</font>{/if}
	<table align="center">
	<tr><td>
	<label for="login_account">用户名:</label></td><td><input type="text" name="username" id="login_account" value="{$data.username}"/>{ error_message field="username" }</td></tr>
	<td><label for="login_password">密码提示问题：</label></td><td><input name="question" type="text" id="login_password" value="{$data.question}"/>
	  { error_message field="question" }</td>
	</tr>
	<tr>
	  <td>问题答案：</td>
	  <td><input name="answer" type="password" id="answer" value="{$data.answer}" />
{ error_message field=answer }</td>
	  </tr>
	<tr>
	  <td>注册邮箱：</td>
	  <td><input name="email" type="text" id="email" value="{$data.email}" />
{ error_message field=email }</td>
	  </tr><tr>
	<td><label for="checkcode">验证码:</label></td><td><input type="text" name="checkcode" id="checkcode" onblur="ajax_checkcode(this)"/><img src="/wescms/checkcode.php?number={$checkcode}"/><span>{ error_message field="checkcode" }</span></td></tr>
	<tr><td colspan="2" align="center"><input type="submit" value="找回密码"/><input type="hidden" name="cmd" value="lost_password"/><input type="hidden" name="postflag" value="1"/>
	&nbsp;</td>
	</tr>
	</table>
</form>
</td>
</tr></table>
{ include file=footer.html}