{ include file=member/header.html}
{ literal }
<script type="text/javascript" src="/wescms/lib/prototype-1.4.0.js"></script>
<script type="text/javascript" src='/wescms/lib/validator.js'></script>
<script type="text/javascript">
function ajax_checkcode(obj)
{
	var pars = 'cmd=checkcode&checkcode=' + $F(obj);
	var myAjax = new Ajax.Request('/profile.php', {parameters: pars, onComplete: checkcode_show});
}

function checkcode_show(request)
{
	try {
		var nb = Validator.GetNoticeBox($('checkcode'));
		
		if (!request.responseText)
		{
			nb.innerHTML = 'passport返回参数错误，请尝试刷新页面或联系管理员。';
			nb.className = "noticeError";
			nb.style.color = "red";
			user_status = false;
		}
		else if (request.responseText == 'true')
		{
			nb.innerHTML = '√';
			nb.className = 'noticeInfo';
			nb.style.color = 'green';
		}
		else
		{
			nb.innerHTML = '验证码输入错误';
			nb.className = 'noticeError';
			nb.style.color = 'red';
		}
	}
	catch (e)
	{
		alert(e.description);
	}
}
</script>
{/literal }
<div class="main">
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td width="210">{include file=member/left.html}</td>
<td><form method="post" class="user_login">
 请认真填写如下表单。如果填写无误，系统会为您重新设置密码。  <br />
  <br />{if $message }<font color="red">{$message}</font>{/if}
	<table align="center">
	<tr><td>
	<label for="login_account">用户名:</label></td><td><input type="text" name="username" id="login_account" value="{$username}"/>{ error_message field="username" }</td></tr>
	<td><label for="login_password">验证码：</label></td><td><input name="lostcode" type="text" id="login_password" value="{$lostcode}"/>
	  { error_message field="lostcode" }</td>
	</tr>
	<tr>
	  <td>密码：</td>
	  <td><input name="password" type="password" id="password" value="{$password}" />
{ error_message field=password1 }</td>
	  </tr>
	<tr>
	  <td>确认密码：</td>
	  <td><input name="password1" type="password" id="password1" value="{$password1}" />
{ error_message field=password1 }</td>
	  </tr>
	<tr><td colspan="2" align="center"><input type="submit" value="重置密码"/>
	<input type="hidden" name="cmd" value="reset_password"/><input type="hidden" name="postflag" value="1"/>
	&nbsp;</td>
	</tr>
	</table>
</form>
</td>
</tr></table>
{ include file=footer.html}