<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="70"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="8" style="background:url(template/festival/images/footer_01.jpg) bottom left no-repeat;">&nbsp;</td>
			</tr>
			<tr>
				<td height="51"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="8" height="51" style="background:url(template/festival/images/footer_02.jpg) left top repeat-y;">&nbsp;</td>
						<td bgcolor="#FFFFFF"><a href="redir.php?catalog_id=46325&amp;object_id=46326">关于本站</a> | <a href="mailto:xgb@zju.edu.cn">联系方式</a> | <a href="/profile.php?cmd=member_add">注册用户</a> | <a href="#">招贤纳士</a> | <a href="redir.php?catalog_id=46325&amp;object_id=46342">合作服务</a> | <a href="redir.php?catalog_id=46345">意见反馈</a> | <a href="/index.php?cmd=stat">日常统计</a><br />
<font color="#999999">版权所有 求是潮网站 浙江大学党委学生工作部 2003-2006</font><br />
<a href="http://www.miibeian.gov.cn">浙ICP备05074421号</a> <font color="#999999">Copyright &copy; 2000-2006 设计制作:求是潮技术研发中心</font> <a href="mailto:ansin_lj@163.com">李宏智</a></td>
						<td width="315" style="background:url(template/festival/images/footer_04.jpg) right top no-repeat;">&nbsp;</td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td height="11" style="background:url(template/festival/images/footer_05.jpg) left top no-repeat;">&nbsp;</td>
			</tr>
		</table></td>
	</tr>
</table>