<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="26">&nbsp;</td>
	</tr>
	<tr>
		<td height="93"><img src="template/festival/images/header_04.jpg" width="768" height="93" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128883'" /></td>
	</tr>
	<tr>
		<td height="39"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="116" height="39" style="background:url(template/festival/images/header_05.jpg) no-repeat">&nbsp;</td>
				<td width="81"><img src="template/festival/images/header_06.jpg" width="81" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128923&amp;object_id=129671'"></td>
				<td width="63"><img src="template/festival/images/header_07.jpg" width="63" height="39" style="cursor:hand;" onclick="location.href='http://10.76.8.3/temp/diy/diy.html'"></td>
				<td width="66"><img src="template/festival/images/header_08.jpg" width="66" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128941&amp;object_id=129124'"></td>
				<td width="72"><img src="template/festival/images/header_09.jpg" width="72" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128915'"></td>
				<td width="91"><img src="template/festival/images/header_10.jpg" width="91" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128916'"></td>
				<td width="74"><img src="template/festival/images/header_11.jpg" width="74" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128917'"></td>
				<td width="102"><img src="template/festival/images/header_12.jpg" width="102" height="39" style="cursor:hand;" onclick="location.href='redir.php?catalog_id=128911'"></td>
				<td width="103"><img src="template/festival/images/header_13.jpg" width="103" height="39" style="cursor:hand;" onclick="location.href=''"></td>
			</tr>
		</table></td>
	</tr>
</table>