<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="16" background="template/festival/images/right.jpg">&nbsp;</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" style="min-height:200px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="1%">&nbsp;</td>
					<td width="98%" height="1%">&nbsp;</td>
					<td width="1%">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>{article_list catalog_id=128923,128924,128917,128941,129105,129106,129004,129005,129007 count=10 mode=latest cut=25 template=festival/article_list_simple4.htm} </td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td height="1%">&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table></td>
	</tr>
</table>