BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: 宋体, serif; TEXT-ALIGN: center
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	MARGIN: 0px auto
}
IMG {
	VERTICAL-ALIGN: top
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931
}
.cRed {
	COLOR: red
}
A.cRed:link {
	COLOR: red
}
A.cRed:visited {
	COLOR: red
}
.cBlue {
	COLOR: #1f3a87
}
A.cBlue:link {
	COLOR: #1f3a87
}
A.cBlue:visited {
	COLOR: #1f3a87
}
.cDRed {
	COLOR: #bc2931
}
A.cDRed:link {
	COLOR: #bc2931
}
.cGray {
	COLOR: #4f544d
}
A.cGray:link {
	COLOR: #4f544d
}
A.cGray:visited {
	COLOR: #4f544d
}
.cDGray {
	COLOR: #666
}
A.cDGray:link {
	COLOR: #666
}
A.cDGray:visited {
	COLOR: #666
}
.cWhite {
	COLOR: #fff
}
A.cWhite:link {
	COLOR: #fff
}
A.cWhite:visited {
	COLOR: #fff
}
.cBlack {
	COLOR: #000
}
A.cBlack:link {
	COLOR: #000
}
A.cBlack:visited {
	COLOR: #000
}
A.cBlack:hover {
	COLOR: #bc2931
}
.cYellow {
	COLOR: #ff0
}
A.cYellow:link {
	COLOR: #ff0
}
A.cYellow:visited {
	COLOR: #ff0
}
.fB {
	FONT-WEIGHT: bold
}
.fI {
	FONT-STYLE: italic
}
.f12px {
	FONT-SIZE: 12px
}
.f14px {
	FONT-SIZE: 14px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 1px; HEIGHT: 0px
}
.hidden {
	DISPLAY: none
}
.unLine {
	TEXT-DECORATION: none
}
.unLine A {
	TEXT-DECORATION: none
}
.noBorder {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 3px
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 6px
}
.blank9 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 9px
}
.blankW9 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; OVERFLOW: hidden; HEIGHT: 9px
}
.blank12 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 12px
}
.blank15 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 15px
}
.foot {
	MARGIN: 0px auto; WIDTH: 750px; LINE-HEIGHT: 160%
}
.foot .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid
}
.foot A:visited {
	COLOR: #000
}
.topTitle {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 750px
}
.topTitle .pic {
	CLEAR: both; HEIGHT: 60px
}
.topTitle .text {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.topTitle .text H5 {
	FONT-WEIGHT: 100; FONT-SIZE: 18px; FLOAT: left; COLOR: #00669b; FONT-FAMILY: "黑体" ,Arial Black,sans-serif
}
.topTitle .text H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.topTitle .text H5 A {
	COLOR: #00669b
}
.topTitle .text H5 A:visited {
	COLOR: #00669b
}
.topTitle .text H5 A:hover {
	COLOR: #bc2931
}
.discussAbout {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 750px
}
.discussAbout .col {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 368px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 145px
}
.discussAbout .col .title {
	BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 22px
}
.discussAbout .col .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.discussAbout .col .bg1 {
	BACKGROUND: url(comment_bg3.gif)
}
.discussAbout .col .bg2 {
	BACKGROUND: url(comment_bg3.gif)
}
.discussAbout .col .title A {
	COLOR: #bc2931
}
.discussAbout .col .title A:visited {
	COLOR: #bc2931
}
.discussAbout .col .title A:hover {
	COLOR: #1f3a87
}
.discussAbout .col .text {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #1f3a87; TEXT-INDENT: 2em; LINE-HEIGHT: 160%; PADDING-TOP: 9px; TEXT-ALIGN: left
}
.discussAbout .col .text A {
	COLOR: #bc2931
}
.discussAbout .col .text A:visited {
	COLOR: #bc2931
}
.discussAbout .col .text A:hover {
	COLOR: #1f3a87
}
.discussAbout .col .list {
	CLEAR: both
}
.discussAbout .col .list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 11px
}
.discussAbout .col .list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; BACKGROUND: url(comment_i2.gif) no-repeat 15px 8px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.endTitle {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 750px
}
.endTitle .logoTip {
	CLEAR: both; BORDER-BOTTOM: #000 3px solid; HEIGHT: 56px
}
.endTitle .logoTip .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 114px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.endTitle .logoTip .logoText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 16px
}
.endTitle .logoTip .logoText2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: 100; FONT-SIZE: 32px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; FONT-FAMILY: "黑体"
}
.endTitle .logoTip .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 32px
}
.endTitle .logoTip .textR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 32px
}
.endTitle A {
	COLOR: #000
}
.endTitle A:visited {
	COLOR: #000
}
.endTitle A:hover {
	COLOR: #bc2931
}
.endTitle H1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 25px; FLOAT: left; PADDING-BOTTOM: 8px; COLOR: #1f3a87; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.endTitle H1 A {
	COLOR: #1f3a87
}
.endTitle H1 A:visited {
	COLOR: #1f3a87
}
.endTitle H1 A:hover {
	COLOR: #bc2931
}
.endTitle H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
.commentTip {
	CLEAR: both; BACKGROUND: #384ea3; OVERFLOW: hidden; HEIGHT: 33px
}
.commentTip UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
.commentTip LI {
	FONT-SIZE: 14px; BACKGROUND: url(comment_bg1.gif); FLOAT: left; MARGIN: 0px 10px 0px 0px; LIST-STYLE-TYPE: none; HEIGHT: 26px
}
.commentTip .text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.commentTip .bg1 {
	BACKGROUND: url(comment_bg2.gif)
}
.commentTitle {
	CLEAR: both; BACKGROUND: url(comment_i1.gif) no-repeat 10px 6px; MARGIN: 6px 0px 0px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 23px
}
.commentTitle H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.commentTitle .num {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.commentTitle .num .normal {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: #666 1px solid; COLOR: #bc2931; PADDING-TOP: 3px; BORDER-BOTTOM: #666 1px solid
}
.commentTitle .num .dot {
	FLOAT: left
}
.commentTitle .num A {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f3f3f3; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: #b2b2b2 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.commentTitle .num A:hover {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; BACKGROUND: #fff; BORDER-LEFT: #333 1px solid; COLOR: #bc2931; BORDER-BOTTOM: #333 1px solid
}
.commentTitle1 {
	CLEAR: both; BACKGROUND: url(http://cimg2.163.com/cnews/newimg/arc_i5.gif) #384ea3 no-repeat 10px 6px; COLOR: #fff; HEIGHT: 21px
}
.commentTitle1 H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.commentTitle1 .num {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 1px
}
.commentTitle1 .num .dot {
	FLOAT: left
}
.commentTitle1 .num .normal {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; COLOR: #ff0; PADDING-TOP: 3px
}
.commentTitle1 .num A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; COLOR: #fff; PADDING-TOP: 3px
}
.commentTitle1 .num A:visited {
	COLOR: #fff
}
.commentTitle1 .num A:hover {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #f3f3f3; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #bc2931; BORDER-BOTTOM: #b2b2b2 1px solid
}
.endReview {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f8fcff; PADDING-BOTTOM: 9px; MARGIN: 0px auto; WIDTH: 99.3%; PADDING-TOP: 9px; TEXT-ALIGN: left
}
.endReview .titleTip {
	CLEAR: both; PADDING-RIGHT: 12px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: 15px
}
.endReview .name {
	FLOAT: left; COLOR: #1f3a87
}
.endReview .title {
	FLOAT: right
}
.endReview .function {
	CLEAR: both; PADDING-RIGHT: 12px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.endReview .review {
	CLEAR: both; TABLE-LAYOUT: fixed; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 90%; WORD-BREAK: break-all; LINE-HEIGHT: 150%; PADDING-TOP: 8px; HEIGHT: auto; WORD-WRAP: break-word
}
.endReview .review TABLE {
	TABLE-LAYOUT: fixed; MARGIN: 0px auto 15px
}
.endReview .review TD {
	FONT-SIZE: 14px; OVERFLOW: hidden; LINE-HEIGHT: 23px; TEXT-OVERFLOW: ellipsis
}
.endReview .review .reviewTree {
	CLEAR: both; BORDER-RIGHT: #999 1px solid; TABLE-LAYOUT: fixed; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 2px; OVERFLOW: hidden; BORDER-LEFT: #999 1px solid; WORD-BREAK: break-all; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid; TEXT-OVERFLOW: ellipsis; WORD-WRAP: break-word
}
.endReview .hr {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(http://cimg2.163.com/cnews/newimg/bg2.gif) repeat-x; MARGIN: 8px 0px 13px; HEIGHT: 1px
}
.endReview .statement {
	CLEAR: both; PADDING-RIGHT: 12px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; OVERFLOW: hidden; COLOR: #bc2931; PADDING-TOP: 0px; HEIGHT: 15px; TEXT-ALIGN: right
}
.endReview .pageNum {
	CLEAR: both; PADDING-RIGHT: 12px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; OVERFLOW: hidden; COLOR: #bc2931; PADDING-TOP: 0px; HEIGHT: 25px
}
.endReview .pageNum .num {
	FLOAT: right
}
.endReview .pageNum .normal {
	BORDER-RIGHT: #384ea3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #384ea3 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: #384ea3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #384ea3 1px solid
}
.endReview .pageNum .dot {
	FLOAT: left
}
.endReview .pageNum A {
	BORDER-RIGHT: #384ea3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #384ea3 1px solid; PADDING-LEFT: 5px; BACKGROUND: #384ea3; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: #384ea3 1px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #384ea3 1px solid
}
.endReview .pageNum A:visited {
	COLOR: #fff
}
.endReview .pageNum A:hover {
	BORDER-RIGHT: #384ea3 1px solid; BORDER-TOP: #384ea3 1px solid; BACKGROUND: #fff; BORDER-LEFT: #384ea3 1px solid; COLOR: #bc2931; BORDER-BOTTOM: #384ea3 1px solid
}
.endReview .allReview {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 9px 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 25px
}
.endReview .allReview .text {
	FLOAT: right
}
.endReview .allReview A {
	BORDER-RIGHT: #d6d6d6 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f7f8f9; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #d6d6d6 1px solid; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #d6d6d6 1px solid
}
.endReview .allReview A:visited {
	COLOR: #000
}
.endReview .allReview A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; COLOR: #bc2931; BORDER-BOTTOM: #999 1px solid
}
.endReview A {
	COLOR: #1f3a87
}
.endReview A:hover {
	COLOR: #bc2931
}
.commandBox {
	BACKGROUND: #f8fcff; MARGIN: 0px auto; WIDTH: 750px
}
.endDeliver {
	CLEAR: both; BACKGROUND: #f3f3f3; MARGIN: 0px auto; WIDTH: 99.3%
}
.endDeliver .title {
	CLEAR: both; BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #f9fcfe; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 35px
}
.endDeliver .title H5 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #1f3a87; PADDING-TOP: 7px
}
.endDeliver .title .login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.endDeliver .title .login .s1 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 55px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.endDeliver .title .login .s2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 22px
}
.endDeliver .title .num {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.endDeliver .content {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.endDeliver .content .textArea {
	FLOAT: left; WIDTH: 80%; TEXT-ALIGN: right
}
.endDeliver .content .textArea TEXTAREA {
	BACKGROUND: url(http://cimg2.163.com/cnews/img07/end_n_bg9.gif) #fff no-repeat center 50px; WIDTH: 90%; HEIGHT: 130px
}
.endDeliver .content .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 20%; LINE-HEIGHT: 160%; PADDING-TOP: 60px
}
.endDeliver .content .text .s1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 60px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 22px
}
.nesting {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px auto; BORDER-LEFT: #ccc 1px solid; WIDTH: 750px; BORDER-BOTTOM: #ccc 1px solid
}
.replyBox {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: #fff; MARGIN: 5px auto 0px; BORDER-LEFT: #000 1px solid; WIDTH: 400px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 300px
}
.replyBox .title {
	CLEAR: both; BACKGROUND: #efefef; BORDER-BOTTOM: #999 1px solid; HEIGHT: 34px
}
.replyBox .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: 100; FONT-SIZE: 18px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; FONT-FAMILY: "黑体" ,Arial Black,sans-serif
}
.replyBox .title SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; FONT-SIZE: 18px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; FONT-FAMILY: "黑体" ,Arial Black,sans-serif
}
.replyBox .title SPAN A {
	COLOR: #000; TEXT-DECORATION: none
}
.replyBox .title SPAN A:visited {
	COLOR: #000
}
.replyBox .title SPAN A:hover {
	COLOR: #bc2931
}
.replyBox .titleText {
	CLEAR: both; BACKGROUND: #f4f8fe; BORDER-BOTTOM: #999 1px solid; HEIGHT: 25px
}
.replyBox .titleText .c {
	COLOR: #bc2931
}
.replyBox .titleText UL {
	
}
.replyBox .titleText LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 6px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.replyBox .replyTip {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.replyBox .replyTip TEXTAREA {
	MARGIN: 0px 0px 6px; WIDTH: 320px; HEIGHT: 155px
}
.replyBox .replyTip .c {
	COLOR: #bc2931
}
