<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="Description" content="浙江大学求是潮休闲网" />
<meta name="Keywords" content="浙江大学，浙大，求是潮，休闲，休闲网" />
<script language="javascript" type="text/javascript" src="template/leisure/js/indexBuy.js"></script>
<link href="template/public/qsc7pub.css" rel="stylesheet" type="text/css" media="all" />
<link href="template/leisure/css/leisure.css" rel="stylesheet" type="text/css" />
<title>浙江大学求是潮休闲网</title>
</head>
<body>
<div class="leisure_banner"></div>
<div class="main">
    <div id="navbar">
      <div id="navbar-left"></div>
      <div id="navbar-right" class="leisure-brown">
        <ul>
          <li><a href="redir.php?catalog_id=31">首页</a></li>
          <li><a href="redir.php?catalog_id=112">最新资讯</a></li>
          <li><a href="redir.php?catalog_id=32977">精致生活</a></li>
          <li><a href="redir.php?catalog_id=32961">时尚前沿</a></li>
          <li><a href="redir.php?catalog_id=42980">休闲驿站</a></li>
          <li><a href="redir.php?catalog_id=139918">下载专区</a></li>
          <li>特别策划</li>
        </ul>
      </div>
    </div>